[2020-04-27 15:25] filippodb commented on #237
I have the same problem on a story with a changed title/url
writefreely can do like medium: it keeps live the old url with a canonical url to the updated address, just to avoid duplicated pages.

[2020-04-27 18:17] Filius-Patris commented on #304
I meant the frontpage of the blog, where only the text up to `` is shown. I don't know about the `/api/markdown` endpoint (it yields 404 for me).

This image shows it:
![image](https://user-images.githubusercontent.com/37048904/80405846-791a7a00-88c3-11ea-8494-08f84515d312.png)
This is what appears on the frontpage feed, but if I click on the post, the link renders correctly. The link destination

[2020-04-27 18:21] Filius-Patris commented on #304
The workaround is quite simple though: Just put the link destination directly after the text (the `[name](destination)` syntax).
Now that I'm aware of it, I can just put all links needed in the preview in there directly.
It might confuse newbies like me, but if you want, you can close the issue as the workaround is trivial.

[2020-04-28 05:58] ricardojmendez opened #306 "Including image descriptions on page description makes the description meta less readable"
### Describe the bug

If there is an image at the start of the article, and this image includes a description, the meta for the article will include it, followed by the first paragraph.

This causes article previews to end up being less readable.

I'd have expected the description meta to start with the first paragraph.

### Steps to reproduce (if necessary)

- Create a new article
- Add an title,

[2020-05-02 04:28] jbfriedrich commented on #11
Now I was able to invest some more time and properly debug my issue. It seems that I forgot to install openssl:
[code]
I built a Docker container for writefreely, so it is as minimal as possible. After installing the `openssl` binary, I was able to be followed by my mastodon.social account, and every new post is now displayed properly in the federated timeline.

[2020-05-03 04:10] elenners opened #308 "text-align: justify; in CSS does not work properly"
### Describe the bug
See this forum post: https://discuss.write.as/t/hyphenate-justify-posts/890
As noted there it works in Chrome, it does not work at all in Firefox nor Safari

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Add the following to your custom CSS:
.book.e-content, .book.p-summary, #post-body, .e-content, div, #collection article p, #post article p, #subpa

[2020-05-03 04:27] c-cesar commented on #308
This is stange, as this property is behind a flag on Chome, but activated on Firefox.

https://caniuse.com/#feat=css-text-justify

[2020-05-03 04:43] c-cesar commented on #308
Try removing `p` tags. `text-align` must not be used on `p` tags, but on it's container.
[code]

P.S.: Your snippet applies it on all `div` container too.

[2020-05-03 15:28] elenners commented on #308
No dice, unfortunately. No change on the main page or post pages in either browser.

[2020-05-05 17:08] wiwie commented on #41
I am not sure whether this is the same issue I am experiencing: When editing a post on my phone and saving the changes, I can view the changed post on any machine, but when editing on my laptop I see an outdated version. When then editing on the phone again, the correct (changed) version is shown.

[2020-05-07 02:32] milenacrdas commented on #177
when will the bug be fixed?

[2020-05-10 08:03] SayedDubai commented on #304
I am using https://write.tedomum.net/ but i don't know how to add pictures to my post and how to add links

[2020-05-10 09:35] Filius-Patris commented on #304
If you're searching for general help how to add images/links somewhere in the post (not just in the excerpt), you may be on the wrong thread.

Check out this resource: https://writefreely.org/docs/latest/writer/writing.md

[2020-05-14 10:14] Crocmagnon opened #309 "Post actions on articles list are difficult to trigger on touch screen devices"
### Describe the bug
Accessing post modification buttons on an touch screen is difficult because they only appear on hover.
![image](https://user-images.githubusercontent.com/3630554/81922150-fccea900-95db-11ea-98da-d0b019be0de6.png)

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Go to the articles list
2. Try to click on a button on a device with a touch screen and no

[2020-05-14 13:20] thebaer commented on #309
Thanks for the report, @Crocmagnon! This has been brought up before in #94. But that report also mentions a few other accessibility issues, so I'll leave this open to address the mobile problem in particular. I'm currently working around other aspects of the menu design / UX right now, so I can address this.

[2020-05-14 13:29] Crocmagnon commented on #309
Thanks for your response! I would love to see that coming to a future release 😊

[2020-05-14 18:30] ProgVal opened #310 "HEAD requests on /.well-known/webfinger return error 405 instead of 400"
### Describe the bug

HEAD requests to `/.well-known/webfinger` return "405 Method Not Allowed", instead of returning 400 (like GET)

### Steps to reproduce (if necessary)

[code]

### Expected behavior

error 400 should be returned on HEAD requests

### Application configuration
 - **Single mode or Multi-user mode?** N/A
 - **Database?** N/A
 - **Open registration?** N/A
 - **Federation enabled?*

[2020-05-15 11:38] Crocmagnon commented on #309
I just realized that in fact the Drafts UI works fine, if it helps :)

[2020-05-15 17:40] Crocmagnon opened #311 ""No to!" in the logs"
### Describe the bug
I noticed some errors in the logs (`No to! <nil>`), see: https://gist.github.com/Crocmagnon/b54664133aed86127f2133bdb5f099d3

### Steps to reproduce (if necessary)
Let  the app run, with federation enabled?

### Expected behavior
I shouldn't get this message in the logs? Or it should be more explicit.

### Application configuration
 - **Single mode or Multi-user mode?** single

[2020-05-15 17:51] thebaer commented on #311
Thanks @Crocmagnon. This would have more useful information with the `--debug` flag enabled, so I've changed it to only log this message when that's turned on in #312.

[2020-05-15 17:53] Crocmagnon commented on #311
👍 and what's that error message supposed to mean?

[2020-05-15 17:53] Crocmagnon commented on #311
I mean, should I do something about it? Is there something not working on my instance?

[2020-05-15 17:56] thebaer commented on #311
It refers to the `to` attribute on ActivityPub requests -- it's only needed for development / debugging, so nothing for you to worry about. Whatever activity is triggering the message is simply going ignored.

[2020-05-15 17:57] Crocmagnon commented on #311
Thanks for your answer, patience and speed! 😊

[2020-05-15 19:49] thebaer commented on #306
Thanks for catching this, @ricardojmendez! Definitely want to improve this.

I've opened an issue for this in the library that processes text for the page descriptions: writeas/go-strip-markdown#2. After fixing this there, we'll get it into WF.

[2020-05-15 20:01] Crocmagnon opened #313 "Fonts aren't applied when the network speed is low"
### Describe the bug
When displaying the site on a device with a low network speed, the custom fonts are loaded afterwards and aren't applied.

### Steps to reproduce (if necessary)
Use the dev tools of your browser to throttle the connection quality to 3G-like.

See [this screencast](https://cloud.augendre.info/s/pBxG5k6xdSmc4Sw).

### Expected behavior
Either fonts should be applied after being

[2020-05-15 20:44] Crocmagnon commented on #305
An easy fix would maybe to prevent using « tags » as a slug? In the slug generation function, check if « tags » is used then just add a dash or something.
If the user tried to use « tags », prevent it and display a helpful error message.

[2020-05-16 07:25] Crocmagnon opened #314 "Links have rel="nofollow""
### Describe the bug
Links added by the user on an article or a pinned page have a `rel="nofollow"` attribute.

### Steps to reproduce (if necessary)
Add a link in an article, either with markdown or HTML.
If the link is HTML and the user explicitly specifies another value for the `rel` attribute, this value is overridden when rendering the page.

### Expected behavior
I see two issues with this:

[2020-05-16 12:12] Crocmagnon commented on #70
I also experienced this issue today with v0.12.0.

Since I'm on a single user instance, I'd expect my settings, including custom CSS and Mathjax to apply on my Drafts. I understand the separation of drafts and posts tied to a blog on a multi user instance but on a single user instance this doesn't make much sense IMHO.

I'm posting this here because I felt that on a single user instance it's more

[2020-05-16 17:01] dangom commented on #80
Hi guys, I was wondering if there any ideas out there on how to embed images into posts since this issue was opened?

[2020-05-28 03:41] eternaltyro commented on #33
Is this behavior documented? I'm trying to figure out how to add footnotes.

[2020-05-29 09:53] #311 closed

[2020-05-29 10:16] thebaer commented on #308
After finding [this issue](https://github.com/facebook/draft-js/issues/1012), it looks like the way to fix this in Firefox (and possibly Safari) is to include this rule:

[code]
**Important!** this removes the ability to insert single linebreaks in your posts.

---

Here's a starter stylesheet you can use to justify text, with this fix included. It may not be comprehensive, but it adjusts for spec

[2020-05-29 10:16] #308 closed

[2020-05-31 00:28] dimobelov commented on #314
Yes, just add Config option follow/nofollow and use it here https://github.com/writeas/writefreely/blob/9be05ef32e818e1be759fbca34533b9430b8d79e/postrender.go#L62

[2020-06-04 20:58] thebaer commented on #41
@wiwie Right, since edits are stored locally on your device until you publish, your laptop is loading those local edits instead of the most up-to-date post content. I'm working on fixing this now.

[2020-06-04 21:10] wiwie commented on #41
ok, cool!

I recently read somewhere, that write.as stores some things locally in the browser session to facilitate a higher level of data security. Is the aspect of editing a draft not connected to that?

[2020-06-04 22:39] thebaer commented on #41
Draft editing is connected that -- changes to posts are stored in the browser, which is why things can get out of sync across devices.

[2020-06-05 14:30] Bridouz opened #316 "TestPostLede fails"
Trying to package `writefreely` for Alpine Linux (busybox/musl libc)
Build is OK but Tests fail at :

[code]

Packaging is using :

[code]

Requirements are `go, go-bindata, sqlite, nodejs-less, nodejs-less-plugin-clean-css"

**Version or last commit**:
  - `v0.12.0`

[2020-06-10 09:23] idelem opened #320 "How to enable OAuth 2 in v 0.12"
This may be a stupid question, but how can I enable OAuth 2 for my site?

I just upgraded to v 0.12.0 and got completely lost on the new OAuth 2 feature. I don't see the slack/gitlab login buttons on the login page. Fiddling with admin settings doesn't solve the problem. Searching through forum threads and issues isn't of much help. I think I might be missing something deadly simple here but I don

[2020-06-10 11:25] freddyb opened #322 "static assets served without cache policy leads to suboptimal page speed"
### Describe the bug
Static assets (list below) are served without any caching header, which results in the browser re-requesting the files too often.

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Open Browser (e.g., Firefox) Developer Tools and its network panel
2. Load a writefreely instance
3. Observe response headers

### Expected behavior
writefreely server should

[2020-06-11 12:25] thebaer commented on #320
Thanks for bringing this up, @idelem. This issue tracker is only for bug reports, so let's move this discussion to writefreely/documentation#30.

[2020-06-11 12:25] #320 closed

[2020-06-11 12:27] thebaer commented on #322
Thanks for reporting this, @freddyb! I'm sure we can tweak the Go file server to include the right headers.

If anyone wants to work on this, please feel free to open a pull request!

[2020-06-11 12:31] thebaer commented on #316
Thanks for the report, @Bridouz! A fix should be pretty straightforward -- in the `PostLede` func, we just need to look for the `?` character.

For anyone interested in fixing this, feel free to open a pull request!

[2020-06-11 15:06] shleeable opened #323 "Docker refactor"
`docker-compose up -d db`
`docker-compose exec db sh -c 'exec mysql -uroot -pwritefreely writefreely < /tmp/schema.sql'`

docker exec writefreely_web_1 writefreely --gen-keys
docker exec -it writefreely_web_1 writefreely --config

[2020-06-12 17:47] shleeable opened #325 "npm WARN deprecated request@2.88.2: request has been deprecated"
### Describe the bug
see https://github.com/request/request/issues/3142

**Version or last commit**:
5c94d23

[2020-06-12 18:10] thebaer commented on #325
Thanks. So where does this error come up? How can we reproduce it?

[2020-06-16 08:36] shleeable commented on #325
Sorry. this is visable using the Docker build.

[2020-06-17 03:36] idelem commented on #219
Is there any follow-up on this? If there is no simple solution, I'd like to know if there is a way to move to mysql from sqlite3, thanks in advance

[2020-06-18 20:29] cjeller1592 opened #326 "Whitelist Footer Element"
### Describe the bug
 If you publish a post with the `footer` HTML element, it's stripped from the post.

_Context_: I am trying to use a web extension's embed feature ([Quotebacks](https://quotebacks.net)) that's code requires the manipulation of the embed's footer. Since the footer gets stripped from the post, the code cannot find the footer and doesn't render properly.

### Steps to reproduce (

[2020-06-22 13:58] mjbrisebois opened #328 "Embedded YouTube videos cannot start at a certain time using "?start=...""
### Describe the bug
This code https://github.com/writeas/writefreely/blob/develop/postrender.go#L100-L102 (which is states the intention is to remove `autoplay`) makes it so that I cannot have YouTube videos start at a precise moment using `?start=...`.

### Expected behavior
It should just remove the `autoplay` query parameter if that is the intention.  Although I don't understand why that would

[2020-06-22 14:26] thebaer commented on #326
Thanks for reporting this! While we're at it, we might as well support the `<header>` element, too.

This should be a pretty straightforward fix -- simply add:

[code]

in this func:

https://github.com/writeas/writefreely/blob/5c94d23466dc3e7e1821b845d9d7db9294c48af4/postrender.go#L171-L184

[2020-06-23 12:11] thebaer commented on #323
Thanks -- would you mind opening a pull request with this fix?

[2020-06-26 08:37] Obayanju opened #331 ""Find an instance" Deadlink"
### Describe the bug
Hello. The link, https://writefreely.org/instances in the readme is dead.

[2020-06-29 16:44] Crocmagnon opened #332 "WriteFreely is not CSP friendly"
### Describe the bug
A strict Content-Security-Policy looks like this:

[code]

This prevents execution of inline scripts and styles which WriteFreely uses.

### Steps to reproduce (if necessary)
1. Setup writefreely
2. Add custom CSS
2. Configure the webserver (nginx/apache/...) to serve a `Content-Security-Policy` with the value `default-src 'none'; img-src 'self'; script-src 'self'; style-src '

[2020-06-29 16:46] Crocmagnon commented on #332
I suggest:

1. Serving the custom CSS on an endpoint retrieving data from the DB instead of rendering it inline.
2. Extract the inline Javascript to a separate file.

Note: that goes against other recommendations of reducing the number of HTTP requests for the sake of performance.

[2020-06-29 19:29] thebaer commented on #331
Thanks for the heads up! This is an issue with the official site rather than the application, so the best place to report this is [on our forum](https://discuss.write.as), just for future reference. But we've fixed the page now!

[2020-06-29 19:29] #331 closed

[2020-07-02 12:15] shleeable commented on #323
I'll PR once I've got it all working.

[2020-07-05 18:49] lukehoersten opened #334 "Import from Safari does not allow .md file upload"
### Describe the bug
When importing from Safari, the file upload dialog box does not allow for selecting other file extensions than `.txt` so `.md` doesn't work.

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
From Safari:
1. Go to 'Import posts'
2. Click on 'Choose files'
3. Try to select a markdown file

In Firefox, the file upload dialog has a way to disregard the site-s

[2020-07-07 14:11] #326 closed

[2020-07-14 14:49] magikid opened #335 "Tag links to wrong location"
### Describe the bug
I run a single user instance.  When I add the `#infra` hashtag to a post, it links to `/tag:infra` which throws a 404 not found.  Here's the post that I noticed it on: https://www.christopherjones.us/please-excuse-the-mess

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Create a new post
2. Add a hashtag
3. Publish the post
4. Click on the hashtag li

[2020-07-14 14:58] magikid commented on #335
I turned on debug and hit the tag location and found this in the logs:
[code]

[2020-07-14 15:04] thebaer commented on #335
Thanks for the detailed report, @magikid! Which version of MySQL are you running? My first instinct is that something has changed there, so our regex in this query no longer works: https://github.com/writeas/writefreely/blob/99d86a74894586e574a86d656940d58d9dd50112/database.go#L1199

[2020-07-14 15:16] magikid commented on #335
Ah, good call! I'm running MySQL 8.

When I run the query on the server, it gives that same error:
[code]

Returns
[code]

[2020-07-14 15:30] magikid commented on #335
I found the answer in the [MySQL docs for 8](https://dev.mysql.com/doc/refman/8.0/en/regexp.html#regexp-compatibility):

[2020-07-14 15:52] magikid commented on #335
@thebaer Is this something that you'd accept a patch for?

[2020-07-14 15:55] thebaer commented on #335
Thanks for the research! Yes, we'd absolutely accept a patch for this. I'd just say that ideally, it should maintain compatibility back to MySQL 5.6.

[2020-07-22 19:46] #41 closed

[2020-07-23 14:03] #297 closed

[2020-07-23 14:16] thebaer commented on #256
Moved this to [T745](https://writefreely.org/tasks/745) since it's new functionality for us to support. Will continue tracking development there.

[2020-07-23 14:16] #256 closed

[2020-07-23 14:24] thebaer commented on #305
This bug is caused by this route: https://github.com/writeas/writefreely/blob/24fa3d6863ab6a3047c8bbe75203efb09ce7b894/routes.go#L207

The application assumes "edit" is the tag, and since it doesn't find any posts with `#edit` in them, it fails. Here are two ways I could think of to fix this:

* Drop this route entirely, since we don't officially use it anyway, or
* Add a special "/tags/edit" rout

[2020-07-23 14:40] thebaer commented on #304
Thanks for the details, @Filius-Patris. Some people have discussed this a bit before [on the forum](https://discuss.write.as/t/footnote/172), and I'd generally like to keep encouraging the officially-supported `[name](destination)` syntax.

However, if you or anyone else is interested in working on support for footnotes / reference links, please feel free to open a pull request, or start a forum d

[2020-07-23 14:40] #304 closed

[2020-07-23 14:45] thebaer commented on #139
Sorry this issue went unattended. Would anyone be interested in submitting a fix here, as a pull request?

[2020-07-23 14:47] thebaer commented on #334
Thanks for the report, @lukehoersten! Does anyone familiar with Safari have ideas on some workarounds here? Maybe some JS-based browser detection?

[2020-07-23 15:55] cjeller1592 commented on #305
If the route isn't officially used anyway, I'd say drop it entirely. Would there be any other repercussions to removing that route that you can think of @thebaer?

[2020-07-24 04:54] misaka00251 opened #337 "db migrate command error"
### Describe the bug

[code]

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Download 0.12.0
2. `ALTER DATABASE writefreely CHARACTER SET latin1 COLLATE latin1_swedish_ci;`
3. `./writefreely db migrate`

### Expected behavior
Migrate success?

### Application configuration
 - **Single mode or Multi-user mode?** Single
 - **Database?** mysql

**Version or last commit**:
0

[2020-07-26 19:45] jzacsh opened #338 "developer discussion on footnotes: implementation and feature behavior"
sorry Matt, i tried to post to the forum, but Discuss gave me an error about not being allowed to use links because i'm new on discuss 🤷 (feel free to delete this post or (better) transfer for me to the forum). i figured better to post helpful discussion somewhere wrong than not at all.

---

## footnotes: background on the feature

The best explanation I've seen on why-not and what-next for foot

[2020-07-26 19:48] jzacsh commented on #338
Ah, Q2's answer I think is these [two calls to render markdown][twoMarkdownCalls] lines 51 and 53:

[code]

This makes me think Q3's A1 appraoch is the way to go.

Line 51 (in the blob-specific link I gave) would always take the extension as an argument, and line 53 would never take the extension as an argument.

[twoMarkdownCalls]: https://github.com/writeas/writefreely/blob/793380c1d9ea43a2ca125

[2020-07-26 19:54] jzacsh commented on #338
Oh, but I guess _not_ passing the extension into the second call wouldn't render superscript at all, it'd render the raw `[^foo]` markdown..

... so maybe turning these into absolute links is the way to go? (Q3's A2 approach)
... or maybe implement a blackfriday feature to make text-only footnotes (so they render as superscript _without_ the anchor wrapping them)?

[2020-07-27 16:31] thebaer commented on #338
Thanks for starting this discussion, @jzacsh! I went ahead and moved everything over to [this forum thread](https://discuss.write.as/t/developer-discussion-on-footnotes-implementation-and-feature-behavior/1663). I also adjusted things on the forum so you shouldn't run into those limits anymore. I'll close this issue and we can continue the conversation over there.

[2020-07-27 16:31] #338 closed

[2020-07-27 20:42] thebaer commented on #337
Hmm, it's hard to tell exactly what's going on. But can you try running this database query and then trying `writefreely db migrate` again?

[code]

(Related: https://github.com/writeas/writefreely/issues/302#issuecomment-619056735)

[2020-07-28 09:51] Ravenbird opened #339 "Incorrect display in Firefox for Android"
Hello,

i'm using the WriteFreely instance on wordsmith.social and I have a problem in Firefox for Android that a menu is displayed incorrectly. This looks like this:

![](https://i.ibb.co/DC2L85S/Screenshot-20200727-101547.jpg)

The problem does not occur with chrome on Android.  And the Firefox on my computer with Linux doesn't cause any problems either.

[2020-07-28 14:13] thebaer commented on #339
Thanks for the report! But I'm not able to replicate this, unfortunately. It looks like the icon font simply hasn't loaded yet... Could you try refreshing the page while on a good internet connection?

[2020-07-28 14:28] Ravenbird commented on #339
The screenshot ended when I was standing less than three meters away from my router with 50 Mbit internet connection and fast Wifi connection.  Unfortunately the error can still be reproduced here.

[2020-07-28 15:19] thebaer opened #340 "Meta tags are double html-encoded"
### Describe the bug

If you check the HTML source [on this post](https://mikestone.me/twitter-got-hacked-is-mastodon-immune), the HTML <meta> tags are double HTML encoded. For example:

[code]

### Expected behavior

The `&amp;#34;` should be `&#34;`

### Application configuration
 - **Single mode or Multi-user mode?** multi-user
 - **Database?** n/a
 - **Open registration?** n/a
 - **Federation

[2020-07-28 18:16] misaka00251 commented on #337
Yes! it work.

[2020-07-28 18:16] #337 closed

[2020-07-28 19:29] thebaer commented on #339
Can you take a look at the console with Firefox's remote debugging tools and let us know what you find? That will help determine the cause here so we can fix this.

[2020-07-29 11:36] mrvdb opened #354 "Nodeinfo counts collections instead of users, intentional?"
The information wf provides at the /api/nodeinfo endpoint has the number of collections in the `users` key instead of the user count.

While the patch to correct this is fairly easy, I get the feeling this was on purpose, so before I submit a PR for this, was it indeed intentional to count collections? And if so, why.

The same goes for the 6month statistics query, which counts posts on collection

[2020-07-29 16:48] thebaer commented on #354
Yes this was intentional, for a few reasons:

* Protecting privacy -- publicly, each blog / collection looks like a separate user. This is so you can have a single account on a WF instance but write under multiple pseudonyms without readers knowing it's the same author behind each blog.
* Technically, each blog is a unique "user" / actor in the fediverse.

I'm open to any thoughts you have here, b

[2020-07-29 16:48] #354 closed

[2020-07-29 16:52] thebaer commented on #325
Got it -- what's the best way to fix this? Happy to merge any fix you can submit.

[2020-07-29 19:08] mrvdb commented on #354
Crystal clear, thanks.

The only minor inconsistency that is left then is that the notion of an internal user as seen on the admin panel is different from an external user as presented in the nodeinfo. A rename to 'account' is an option, but I feel this would be too intrusive for such a small inconsistency.

[2020-07-29 19:16] thebaer commented on #354
Yeah, that's a good point. I'm thinking it'll be worth it to clarify this in the documentation, and then if it comes up again we can figure out how we might update the application.

[2020-08-02 18:00] wiwie commented on #335
So a workaround for now is to run writefreely with MySQL < 8?

[2020-08-02 18:08] wiwie opened #358 "Edit link missing when reading post with Chromium on Android"
When reading a post, the edit link is not shown with mobile Chromium on Android.

A workaround is to enable the desktop website mode of the browser. However, this renders the page with too small font sizes.

[2020-08-02 18:09] wiwie opened #359 "Edit, pin, delete, change to draft links next to post title in post listing not accessible on mobile browser"
When browsing the list of posts on my single user instance, and hovering the title of a post links to edit, delete, pin, and change to draft appear next to the title.

This hover behaviour is not applicable to mobile browsers.

A workaround is to long press on any of these links (hitting by chance in the dark) and then closing the appearing context menu. Then the links are shown as well (at least

[2020-08-02 18:15] wiwie commented on #359
My proposal is that the links should always be shown on mobile browsers.

[2020-08-03 12:22] thebaer commented on #359
Thanks for the report and suggestion, @wiwie! This has been brought up in #309, so let's move the discussion there.

[2020-08-03 12:22] #359 closed

[2020-08-03 12:53] thebaer commented on #309
From https://github.com/writeas/writefreely/issues/359#issuecomment-667707275 by @wiwie:

I think this is a good, simple way to fix this.

[2020-08-03 16:46] Crocmagnon commented on #309
Why not every browser? So that users have the same UI everywhere?

And just out of curiosity, is it even possible to detect Safari on an iPad among other user agents ? I thought Apple modified it to send the same as safari on desktop so users would be served with desktop sites and not mobile ones.

[2020-08-03 18:14] wiwie commented on #309
@Crocmagnon I guess the original intention of hiding the section links when not used was to keep the UI as lightweight as possible. While I actually also do like that approach and the minimal resulting ui, I'm also inclined to agree with you to say that the current approach of hiding the action links is probably a bad idea everywhere from a usability/accessibility perspective. For example, are scr

[2020-08-06 12:02] cblte opened #361 "Tag starting with a number is not converted into a clickable link"
### Describe the bug
When writing a post, every tag starting with a number is not converted into a a clickable link. But when you enter it as a url in the adressbar, all posts with this tag are shown.

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. create a new post
2. add some text and a tag. e.g.: #100DaysToOffload
3. saving the post and moving it from drafts to the bl

[2020-08-06 13:24] magikid commented on #335
@wiwie That was my resolution. I switched from MySQL 8 to MySQL 5.6 and my writefreely instance started working just fine.

On a side note, I’ll try to get a PR sent over to update the docs about this issue but I’m not terribly proficient at golang so I won’t be submitting a patch to actually fix this.

[2020-08-06 13:31] wiwie commented on #335
@magikid you could migrate all your data from 8 to 5.6 without problems? Then I'll give that a try as well.

[2020-08-06 13:38] magikid commented on #335
@wiwie Yes, I was able to switch to the older version pretty easily but I had basically nothing in the database yet.

And though I remember doing the migration while I was testing this, it seems that I’d forgotten how I actually fixed this. I just logged into the server and it seems that the way I actually fixed this was to clone the project, change the sql query and then recompile.

I’ll try to p

[2020-08-06 19:40] cjeller1592 opened #362 "Tag subpages do not paginate"
### Describe the bug

When you have a tag with more than 10 posts, the tag subpage only shows the latest 10 and not the rest of these posts.

### Expected behavior

There should be a "Older" or "Next" button on the button for the next page of tagged posts.

[2020-08-07 03:00] idelem opened #363 "Admin/users page does not paginate"
### Describe the bug
If you check admin/users of a multi-user instance, there is only one page.

### Application configuration
 - Multi-user mode
 - **Database?** sqlite
 - **Open registration?** no
 - **Federation enabled?** yes

**Version or last commit**: 0.12

[2020-08-08 05:04] Obayanju commented on #340
I think you meant `&#39;` for a single quote since the linked post uses a single quote.

[2020-08-10 13:44] thebaer commented on #305
Nope, we can drop it.

[2020-08-11 02:17] rkingett opened #365 "Font menu isn't correctly labeled."
While running a screen reader, using either, the Classic editor or the modern editor, the font menu isn't labeled correctly to screen readers. NVDA, a free screen reader, just says, Graphic, new. Link.

After the menu is opened, a keyboard user cannot change items using the keyboard when the screen reader, NVDA, is passing keys through directly through the browser.

### Steps to reproduce (if nece

[2020-08-11 02:41] rkingett opened #366 "Screen readers announce blank paragraphs."
Using NVDA, the free and open source screen reader, whenever I read a blog with double returns, the screen reader always announces the blank paragraph between the paragraphs.

For example. On here, if one were to write something, then press enter 2 times,

NVDA would announce the next paragraph without announcing the blank line above. Could this be done in write.as because it is almost impossible

[2020-08-11 12:12] thebaer commented on #358
Thanks for the report! I believe these navigation items are hidden on small screens. A fix should involve simply removing the class or altering the CSS rules for these links.

[2020-08-11 12:19] thebaer commented on #361
Thanks for the detailed report! This was actually fixed in #307, and will be included in our next release.

[2020-08-11 12:19] #361 closed

[2020-08-11 13:16] thebaer commented on #366
Thanks for bringing this up. Without knowing for sure, I would imagine this is due to the fact that we use pre-formatted text styling (CSS: `white-space: pre-wrap;`) for the post body. Do you know if we can make any modifications to tell screen readers to not respect this setting?

[2020-08-11 13:33] rkingett commented on #366
I am, unfortunately, unaware of any fix we could make to the CSS to make screen readers ignore that carriage return while keeping it visually spaced.

Is it possible we could remove that CSS attribute and just have standard HTML from the markdown?

I'm thinking we need to specify the spacing through
CSS. I'd be happy to test pages, though!

[2020-08-11 17:07] theodotos opened #367 "Federation: Unable to follow my Writefreely instance"
### Describe the bug

I have setup a selfhosted WriteFreely instance but I'm having some problem with Federation.

The federation api seems to be working:

[code]

... but I get these in the logs when I try to follow my blog from a Mastodon instance:

[code]

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Go to a Mastodon instance
2. Search for @theo@theo-andreou.org
3.

[2020-08-12 05:47] theodotos commented on #367
I turns out I was using the wrong port on the `(webfinger|nodeinfo|host-meta)` location block.

https://discuss.write.as/t/federation-activated-but-not-working/1703

Sorry for the noise.

[2020-08-12 05:47] #367 closed

[2020-08-12 16:21] DavePolaschek commented on #309
Note that Safari on iPad masquerades as safari on Mac OS, so for at least that one mobile browser, "is this a mobile browser?" is likely to fail.

I tried using the classic editor, mostly to have easier "set a title" functionality, but there were a lot of things failing there when trying to use if from safari on an iPad.

[2020-08-13 16:24] #217 closed

[2020-08-20 14:56] rkingett commented on #365
To also add to this, the sub menus in this menu are extremely poorly labeled, and do not maintain keyboard focus very well. It would be better if we could nest these options in a standard box on the page, with standard radio buttons, checkboxes, and HTML 5 dropdown menus.

[2020-08-22 01:24] OniriCorpe opened #372 "Custom style does not apply on the blog pages"
### Describe the bug
The custom style does not apply on the blog pages, only on the home page.

### Steps to reproduce
Apply a custom style in the settings, for example:
[code]
Check the home page : ✅
On https://EXAMPLE.TLD/ : it's all right.

Check the blog pages : ❌
On https://EXAMPLE.TLD/chapter-1/ : Nothing's changed.

### Expected behavior
Style changes should be applied to all of the user's

[2020-08-22 13:32] ankitrgadiya opened #373 "Support SSL on non-standard ports"
Currently, WriteFreely only supports SSL on 443 port. The server checks if the port is 443 and only then it enables the SSL Relevant code: https://github.com/writeas/writefreely/blob/dfa14c9c92937e9806327f97847e4b9440f3b7be/config/config.go#L214-L216

I would like WriteFreely to support SSL on non-standard (ports out of 1-1000 range). This is because the 1-1000 port range requires root privilege t

[2020-08-25 14:59] hairylarry commented on #200
I am having this exact bug. If we can reopen this thread I will work with you on trying to resolve this. I have a writefreely blog on write.as I am wanting to move onto yunohost.

Thanks

[2020-08-26 11:04] mrvdb opened #374 "Silenced users posts still show up when accessed directly"
The list of posts is correctly blocked, but individual posts are accessible it seems.

This is a partial screenshot of anonymous access to the url of the post. At the very least, the message is wrong.

![20200826_1258](https://user-images.githubusercontent.com/73067/91295940-1adfa400-e79c-11ea-8e47-f6fa47937758.png)

I haven't tested extensively with all silenced accounts. The 'user account URI' i

[2020-08-27 13:44] thebaer commented on #374
Agreed, on this page we should check the currently authenticated user, and:

* If not logged in, return 404, just like on the silenced user's blog
* If logged in as `user` and `user.ID != post.OwnerID`, return 404
* If logged in as `user` and `!user.IsAdmin()`, return 404

Anyone should feel free to claim this task and open a pull request for a fix!

[2020-08-27 13:45] thebaer commented on #363
Hi @idelem, could you share a screenshot of what you're seeing? I'm not able to replicate.

[2020-08-29 14:32] zaclittleberry commented on #366
oof. yeah. the html actually looks to be pretty well marked up. the css though is doing some _real_ funky stuff. paragraph tags have been marked inline and all as pre-formatted text, which I'm guessing is telling the screen reader that the spaces in the markup are *very important*, which is really a problem when it comes to spaces *between* the markup (it's saying, "oh, there's a space between you

[2020-08-29 14:38] rkingett commented on #366
I think I've found a possible solution for now, but I agree. CSS may need to be completely reworked to avoid using ARIA in the future.

[Direct Toot URL.](https://linuxrocks.online/@friend/104772889402265545) It is also copied below.

[Article on that from Mozilla](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-hidden_attribute)

[2020-08-29 16:47] zaclittleberry commented on #366
@rkingett I think it was clarified in the tootstream, but maybe not here. I have confirmed, there is no extra element, so aria-hidden=true wouldn't work. It is (unfortunately) reading out the empty line between paragraph tags. "But wait, HTML doesn't care about (more than one) whitespace", you say. True, except when `white-space:pre-wrap` (or the corresponding `pre` element) is used. If that CSS a

[2020-08-29 17:24] arigaud-ca commented on #366
I made a quick test with browsers inspectors (Firefox and Chrome) with NVDA.
Solution would be to put h (headings) and p element in display:block and apply some margin, to have the same visual effect.
NVDA reads it properly.
@zaclittleberry I will try your solution (remove white-space:pre-wrap from divs and non-text elements).

[2020-08-29 17:43] arigaud-ca commented on #366
I wonder if the p elements in the article (p without any classes) are automatically generated or if they were formatted by the author/contributor.
In my experiments with white-space:pre-wrap and white-space I figured out NVDA doesn't read any space (or 'blank') as long as it's in the same HTML element.
Saying that I realize it won't be a good practice as far as semantics is concerned, And as @zacl

[2020-08-30 07:03] ankitrgadiya commented on #373
It appears that when SSL is enabled, WriteFreely also binds to port 80 and create a redirect. That also is definitely a problem for non-privileged containers. Open for suggestions on how to take care of that.

[2020-08-30 13:32] rkingett commented on #366
Is there a PR I can review?

[2020-08-30 14:56] zaclittleberry commented on #366
Definitely no PR on my part yet. I don't actually use writeas at the moment so not really familiar enough with the project to make a PR that I'd be confident wouldn't break things. Also, I don't know GO, so it'd definitely be easier if a contributor chimed in on how markup happens and how much variability there can be in the output. If this markup is standard, the fix is likely pretty easy/safe-is

[2020-08-31 13:17] thebaer commented on #366
Thanks for looking into this, everyone! To fill in some details:

* The `white-space: pre-wrap` setting was [chosen deliberately](https://github.com/writeas/writefreely/issues/193#issuecomment-539059298), to be more friendly to plain text entry and enable creative spacing, as you might see in poetry ([example](https://acererak.writeas.com/day-12-happy-little-trees)).

* I can't remember exactly wh

[2020-09-02 01:54] rkingett commented on #366
This point really makes me pause.

It came across that, in order for screen reader users to get rid of this issue, they would need to pay to get that bit of CSS that fixes the problem?

I apologize if I misunderstood point 2.

Or did you just mean to make sure users would be able to upgrade their custom design without hastles?

[2020-09-02 12:20] thebaer commented on #366
This is what I meant. If we change all the core CSS without consideration for custom themes, any writers using them will potentially have their blog designs break once their admins deploy this change. This would heap new unwanted work on writers (i.e. _fix your broken theme now!_) without their consent -- which we always want to avoid, even if it means folks still using outdated code.

So ideally,

[2020-09-02 12:24] thebaer commented on #323
Is this related to work in #357?

[2020-09-02 13:49] thebaer commented on #339
Closing this since we don't have enough information to identify the cause of the issue and potentially fix it. Please feel free to submit more information and reopen this!

[2020-09-02 13:49] #339 closed

[2020-09-02 13:54] thebaer commented on #139
@shleeable is any of this addressed in #357?

[2020-09-02 13:57] thebaer commented on #290
Closing this since we haven't heard about this issue from anyone else. Please feel free to reopen if anyone can replicate!

[2020-09-02 13:57] #290 closed

[2020-09-02 14:04] thebaer commented on #80
@dangom We've had a small discussion about this [on the forum](https://discuss.write.as/t/good-places-to-host-images-other-than-snap-as/1721) -- hopefully some resources there can help out!

On another note, I'm closing this issue since it turned into more of a discussion, and we haven't made any further progress here. If anyone is interested in continuing this, we'd be happy to look at a pull req

[2020-09-02 14:04] #80 closed

[2020-09-03 03:25] pawanray2001 commented on #294
Why you need a Professional Website Designing Company in India
Consumer expectations are very different today. They increasingly want to connect with businesses instantaneously. For them, your web presence is like your visiting card (so it better be delightful).

SoftTechSeo Consulting will apply its consumer-centric and data-driven approach to help you stay ahead of your competition. Take advanta

[2020-09-03 21:52] dangom commented on #80
Sure, as long as we had an API to upload photos too, that'd be great. The data: URI would've been just a workaround. This issue was originally opened because OP and I were publishing to writefreely from Emacs, but there was no way to get images uploaded transparently.

[2020-09-04 20:12] #322 closed

[2020-09-04 20:36] #316 closed

[2020-09-16 15:50] colin-axner commented on #374
hello! I'd like to try to tackle this issue

[2020-09-17 12:51] rkingett commented on #366
@thebaer  [this article on writing CSS for accessibility is good to keep in mind.](https://medium.com/@matuzo/writing-css-with-accessibility-in-mind-8514a0007939) And for others too.

[2020-09-21 10:25] colin-axner opened #386 "About page not rendering in Admin Dashboard"
### Describe the bug
The link to edit the About page is not rendering. Going directly to the page by manually modifying the url works fine.

![Screenshot from 2020-09-21 12-15-16](https://user-images.githubusercontent.com/25233464/93756226-02c93c00-fc05-11ea-9f89-8e2c467ef7d6.png)

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Go to `Admin Dashboard`
2. Click on 'pages'

[2020-09-21 10:34] colin-axner commented on #386
Fixed for now. It seems the code relies on the title to fill in the hyperlink. When I remove the title on the `.../page/about` the above bug occurs. When I add back the title the hyperlink shows up in the table again.

This is different from the other page behaviours as on Reader I have no title set but it still shows the hyperlink in the table

[2020-09-21 10:35] colin-axner commented on #386
`Last Modified` is also incorrect. In the above snapshot, Reader has been modified, but no latest date is shown

[2020-09-24 02:59] idelem commented on #363
@thebaer

I have 50+ users on my site:

![image](https://user-images.githubusercontent.com/25763288/94095624-b116f080-fe54-11ea-8dfa-92d1178922e4.png)

There is only one page, which lists the latest 30:

![image](https://user-images.githubusercontent.com/25763288/94095687-d60b6380-fe54-11ea-80bf-2cb8abd5f896.png)

[2020-09-25 22:35] cblte commented on #309
As a quick fix: you could use some css styling to have the links always shown.
Just add
[code]
anywhere to your custom css.

[2020-09-25 23:01] cblte commented on #90
Hi there. the same issue happens when u have a link inside an blockquote element.

quick fix for this is to use a reference link. create your link as a reference:
[code]

[2020-09-26 12:48] DavePolaschek commented on #309
That works, thanks!

Interesting thing from a "fixing the bug" POV is that the commands don’t seem to be there when looking at an individual post, but they are there when looking at the whole list on the blog. That’s almost the inverse of what I was expecting. When I want to interact with a single post, I go to that post, rather than going to its parent blog.

[2020-10-03 15:48] #328 closed

[2020-10-07 00:53] rkingett opened #399 "Can't get to admin dashboard after logging into write.as"
After I login to write.as, I get stuck in a loop of adding a new post, and then publishing it, then going back to the new posts screen when, in all actuality, all I want to do is view my admin dashboard. I've tried many different URLS but none work.

I'm using a screen reader, NVDA, so there is probably a menu I'm missing, but the menus in the editor, font, toggle theme, are not labeled properly.

[2020-10-07 22:07] thebaer commented on #399
Hi @rkingett, which settings were you hoping to get to? The admin dashboard is only accessible to WriteFreely _server admins_, so any regular users outside of our admin team won't find that section of the site at all.

[2020-10-07 22:43] rkingett commented on #399
I was hoping to get to my customization settings and my blog management settings. Where I change blog names, change my URL, blog post order style, etc. I know some of those require a pro subscription, but I'd like to get to my user/blog dashboard.

[2020-10-08 15:30] luroc opened #400 "About/Privacy Page don't source their footer template from custom template folder"
### Describe the bug
There is a slight chance that I introduced this bug myself as I am running a custom executable, but I am pretty sure I didn't touch that part of the code.

The About and Privacy page sources it's template from the default template folder, although a custom template folder is given.

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Define a custom templ

[2020-10-09 14:45] colin-axner opened #401 "go tests failing on develop"
on latest develop, if I run:

[code]

[2020-10-09 16:33] thebaer commented on #399
Ah, then you actually want to go to your blog's _Customize_ page. You can get to this by going to your _Blogs_ page, either by clicking the first / top-left link on the editor page, or the "View Blogs" link in the dropdown. You can also access this from the _Posts_ page -- you'll find "Blogs" in the top navigation bar.

For this issue, a few things I think we need to address:

- [ ] Looking at the

[2020-10-09 18:08] rkingett commented on #399
To a screen reader user, the very first thing we see, on the page, is the following, in order.

1. Title edit field.
2. Body edit field.

There is a navigation landmark below the editor, but it appears to expand and collapse a menu. Nothing appears to happen upon expanding this menu. Basically, I can't tell what this write.as home menu item is supposed to do.

As to your points, correct! On all of

[2020-10-09 18:53] thebaer commented on #400
Hi! Thanks for reaching out, but this question is better suited for a **support channel**, rather than our **bug tracker**. WriteFreely wasn't built to support custom templates like this, and we don't provide support for custom code here, so I'll close this since it isn't a bug in the software.

The best way to resolve this would be to [ask our community](https://discuss.write.as/c/development/7),

[2020-10-09 18:53] #400 closed

[2020-10-10 00:00] tokudan commented on #401
fails on 0.12 as well, not sure if it's related, as the error is different, but the location is similar.
[code]

[2020-10-11 23:37] thebaer commented on #401
Thanks for the report -- if anyone is interested in fixing these tests, please feel free!

[2020-10-13 12:41] #340 closed

[2020-10-13 12:55] #305 closed

[2020-10-13 21:54] dariusk opened #403 "Posts still federate after setting blog to "Private" or "Password-protected""
### Observed behavior
I am running an instance with federation enabled for posts. If someone has a blog that is Unlisted, and someone subscribes to that blog via ActivityPub, and then they set the blog to Private, posts that are made from then on will still be federated to other people.

This is also true for "Password-Protected". The full text of the article federates out to any subscribers.

###

[2020-10-14 12:07] seisatsu opened #404 "Nginx config on https://writefreely.org/start causes static files to 404."
The Nginx config given on https://writefreely.org/start appears to be incorrect, and causes static files to not be found.

Current example config given on the site:

[code]

Since the `location /` block is below the `location ~ ^/(css|img|js|fonts)/` block, it takes precedence and Nginx looks for static files through the reverse proxy. All of my static files gave a 404 until I switched the order o

[2020-10-14 12:13] seisatsu commented on #404
Nevermind, I tested again and found that I must have coincidentally changed something else at the same time to make it work. This is no longer happening. Funny how I grabbed issue #404 though.

[2020-10-14 12:17] thebaer commented on #404
Heh, no kidding. Glad it all worked!

[2020-10-14 13:00] thebaer commented on #403
Thanks for catching this! Definitely a bug we need to fix.

There's a short-term and a long-term fix here. In the short-term, we can simply prevent federation in the [`federatePost()`](https://github.com/writeas/writefreely/blob/3493921837b18cc4239bd3d8252d71f97d5e1d5b/activitypub.go#L626) func. We'd simply return early in the func if the post shouldn't federate (in these cases):

* Config: `app.c

[2020-11-10 20:31] cjeller1592 commented on #372
Applying similar style on the blog pages as the home page requires specifying the home page (collection) and blog pages (post) ID in the CSS.

[code]
Let me know if that works on your end @OniriCorpe. There definitely should be more documentation on this. For now there's the basic CSS guide (but a lot more could be explained in it) here: https://writefreely.org/docs/latest/writer/css

I wonder if

[2020-11-14 12:02] ghost opened #410 "Backend .css setting error"
Customizing blog posts in the *Writefreely* .css editor allows to demonstrate that:

- [ ]  `<h1>` titles of a blog post are effectively declared/processed as bigger `<h2>` elements;
- [ ]  `<h2>` elements seem to be `<span>` vs. `<div>`, hence preventing a border-bottom property to be pictured on the page width.

[2020-11-14 12:08] 5cr1pt3xt commented on #410
Could be related to the `<h2>` statement here:  `writefreely/templates/include/posts.tmpl`

[2020-11-15 12:45] cblgh commented on #372
@cjeller1592 Hi! I just came across the project and was excited to see that a federated Blogger already existed. Is the theming possible on a blog-per-blog basis, or is it restricted to one theme per WriteFreely instance?

[2020-11-27 13:20] benpro opened #411 "Viewing blog post doesn't produce same result as front page"
### Describe the bug
On the front page, article is well formatted with return lines. See [screenshot](https://share-benpro-fr.benpro.download/file/share-benpro-fr/gpnc8169.png).
When you open the article, there is no more return lines. See [screenshot](https://share-benpro-fr.benpro.download/file/share-benpro-fr/d27l2dar.png).

### Steps to reproduce
Steps to reproduce the behavior:
1. Write an ar

[2020-11-28 04:49] DearRude opened #412 "Changing blog language does not trigger text direction"
### Describe the bug
When the language of the post is changed to RTL type, the landmark paragraph stays LTR still. This causes unreadability.
The text in [screenshot](https://i.imgur.com/jNbFo13.png) is read as "Writefreely, is powered by" instead of "Powered by Writefreely"

### Steps to reproduce
Steps to reproduce the behavior:
1. Go to any instance of writefreely
2. Make a post and mark it as

[2020-12-02 07:48] mrvdb opened #415 "draft posts are visible on site by their id"
I get a fair bit of abuse on our instance by people who register an account but never actually publish anything. Every post they create (typically a few lines with a link to some poker/money/sex site) is left in drafts.

The link to the draft post  is visible though.

An example:  https://qua.name/scow1bj3v2

This makes life as an instance admin harder than it needs to be.

[2020-12-03 15:29] thebaer commented on #415
Thanks for the report. So just to be sure, the draft post is still visible when one of these users is _silenced_?

[2020-12-03 15:33] mrvdb commented on #415
I think the silencing does not make a difference, but I'm not 100% sure. I will test that again.

You're not implying that for a non-silenced user the draft should be visible are you?

[2020-12-03 15:36] mrvdb commented on #415
Tested quickly, it's only when a user is not silenced that drafts are visible

[2020-12-03 15:43] thebaer commented on #415
Yeah, drafts are meant to be optionally shareable, which is why they're available at secret but publicly-accessible URLs. So this is working as designed.

While it's unconventional for blogging platforms, I think this approach enables much more flexible uses, while keeping things simple. Plus if someone needs truly private drafts, they could create a new blog and set it to Private. But maybe this

[2020-12-03 15:43] #415 closed

[2020-12-03 15:45] thebaer commented on #410
Hi, could you be a bit more specific about any particular bug you've found?

[2020-12-03 15:53] mrvdb commented on #415
I don't understand what value it adds for legitimate users in the current setup. I'll implement a local solution for this for now. Thx

[2020-12-04 06:38] 5cr1pt3xt commented on #410
Hi. Customising the <h2> style in the .css window also impacts <h1> elements in posts and pages.

[2020-12-04 12:50] thebaer commented on #410
Could you share the specific CSS you're using, plus a screenshot or URL to the blog? Just trying to figure out if this is a bug in the software or not.

[2020-12-08 14:38] #139 closed

[2020-12-08 14:38] #323 closed

[2020-12-09 17:58] wasanpuzzl commented on #177
I'm sorry suddenly, About setting of "Text Rendering (Customize how plain text renders on your blog.)"
"☑Markdown" that I want to turn off. (Let me set it. It is enough if I can use HTML notation only.)

[2020-12-09 22:48] cjeller1592 opened #416 "Docker Compose: Repository does not exist or may require 'docker login'"
### Describe the bug

When I was trying to run WriteFreely via docker-compose based on @conor-f 's [instructions](https://github.com/writeas/writefreely/pull/407), I ran into this.

[code]

The image in the `docker-compose.yml` file is this:

[code]

When I try to perform a docker pull on this image, I get a similar error:

[code]
I don't think this image actually exists. There is a `writeas/write

[2020-12-10 07:00] spritefullake commented on #411
Can confirm I run into this issue as well. adding <br/> at the end of each paragraph seems to fix it...

[2020-12-10 11:10] conor-f commented on #416
Hey @cjeller1592

Yeah, pretty sure the `writeas/writefreely` docker container should be here. I built it locally from the `Dockerfile` which is why I didn't spot the issue when I was merging. Went through all but configuring my reverse proxy and the last step of the instructions I laid out with the `writeas/writefreely` docker container and it worked good up to that point anyways.

If in doubt th

[2020-12-10 13:48] cjeller1592 commented on #416
Thanks @conor-f! When I try to build the Dockerfile locally, I get this error:

[code]
Did you run into that issue at all? Not sure if it's because I am a Docker novice or because there's something wrong in the Dockerfile itself. Is there a flag I'm missing to modify the build command? I just ran `docker build - < Dockerfile` in the repo.

[2020-12-10 17:20] conor-f commented on #416
I am also quite new to docker, but I think the way I built it was

`sudo docker build -t writefreely:dev .`

[2020-12-12 05:51] spritefullake opened #417 "Naming a page "Tags" makes it impossible to edit"
### Describe the bug
There is an error for any page with the starting text as

``` # Tags ```

so that it is titled "Tags" when published to the blog. Pressing edit on the post from the blog page yields "This page is missing. Are you sure it was ever here?" as an error. I can only delete this page and rename it to avoid issues.

### Steps to reproduce (if necessary)
Steps to reproduce the behavior

[2020-12-12 15:33] thebaer commented on #417
Thanks for the report, @spritefullake! This is actually a duplicate of #305, which was fixed in #397. That'll be available in the next WriteFreely release!

[2020-12-12 15:33] #417 closed

[2020-12-15 16:52] cjeller1592 commented on #416
Gotcha — I swapped the `writefreely:dev` with `writeas/writefreely` and was able to go through the config process. Now I am just having trouble connecting to the WriteFreely instance from my local machine. Looks like the WriteFreely logs show the instance running fine:

[code]

Just don't know if it's a port forwarding issue or what. Did you encounter anything similar @conor-f? I am using Docker D

[2020-12-16 21:49] zem opened #419 "Design thoughts with the Docker container implementation and its deamon writeable binaries"
### Describe the bug
When I investigated the Docker container I found some design flaws that could lead to security impacts.

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. podman image pull docker.io/writeas/writefreely:latest
2. podman run -it --entrypoint sh docker.io/writeas/writefreely:latest
3. have a look around

[code]
Having the application run as regular user i

[2020-12-17 22:17] petermeem opened #420 "Unable to pin posts: "Illegal mix of collations""
### Describe the bug
I cannot pin a post. As soon as I reload the page the pin is gone.

I get following error in MySQL:

I have created the database as stated in the tutorial and the database has the latin1 charset and latin1_swedish_ci collation:

+--------------------------+----------------------+
| @@character_set_database | @@collation_database |
+--------------------------+------------------

[2020-12-21 08:12] jdepotter opened #421 "http to https redirection not working properly"
Hi,

Clicking on the title of an article tries to open http://mysite.fr/article-name. The current setup will redirect me to https://mysite.fr instead of https://mysite.fr/page.
I have another site, developed by myself, running on the same server, and http to https works well on this one.

I am using nginx with the following configuration:

server {
        listen 80 default_server;
        listen

[2020-12-23 20:10] cjeller1592 commented on #416
Just wanted to bump this again and see if @conor-f or anyone that has run WriteFreely locally with Docker Compose has any tips on how to deal with what I've been encountering for a while. Every time I try to visit the instance in a browser, I get `ERR_EMPTY_RESPONSE`. This is after following the above referenced instructions in #407. Could it be an issue with the configuration? Here's my config.in

[2020-12-24 13:27] conor-f commented on #416
Hey so there's some things I don't quite get in your `config.ini` but I really don't have much knowledge about this...

First of all, under my `[server]` section, I have `bind = 0.0.0.0` instead of empty.

The `[database]` section has an IP for the host, but `writefreely-db` (the name of the docker container for the MySQL host) is what I use.

You have three `[app]` sections which seems like a rea

[2020-12-25 08:50] thegergo02 opened #422 "Setting host with subpath doesn't work"
### Describe the bug
The service is behind an nginx reverse proxy which tries to use a subpath, like this:
[code]
Even if I set the
[code]
Every link redirects to `https://example.com/[actual path]` instead of `https://example.com/writefreely/[actual path]`

### Steps to reproduce (if necessary)
1. `systemctl start nginx`
2. `systemctl start writefreely`
3. Go to `example.com/writefreely`
4. Get g

[2020-12-26 07:31] thegergo02 commented on #422
I just realised the pages are making the request from JS and they all point use root. Maybe a prefix setting could be a solution? If I can figure it out I might do a PR.

[2020-12-26 07:33] thegergo02 commented on #422
...or I might just redirect every request that WriteFreely can make with nginx.

[2020-12-26 08:39] thegergo02 commented on #422
Both of these ways are quite hacky and I don't really want to use them. I noticed that static resources actually follow the path I want, so those show up correctly.

[2020-12-26 10:46] #422 closed

[2020-12-28 16:37] thebaer commented on #422
Thanks for starting this discussion! It's true that WF was never designed to work on a path, so indeed this custom configuration is going to be an uphill battle. If you'd like to see this built in to the software, please feel free to start a discussion on our [development forum](https://discuss.write.as/c/development/7) so we can figure out what needs to be done and coordinate any work on this!

[2020-12-28 17:43] thebaer commented on #421
Welcome, @jdepotter! Our community of users and team should be able to help with these configuration issues over [on the forum](https://discuss.write.as/c/writefreely/installation/16) -- the GitHub issue tracker is only meant for reporting bugs. Do you mind creating a topic for this over there, instead?

[2020-12-28 17:43] #421 closed

[2021-01-05 02:42] DearRude commented on #335
I also have this issue on SQLite with version 0.12
Any updates on this? @thebaer

[2021-01-08 02:10] orbitneons opened #424 "About markdown/html syntax, %23 replaces #"
2nd # of these 👇 links are replaced

`[Tchncs matrix community](https://matrix.to/#/#tchncs:tchncs.de)`

`<a href="https://matrix.to/#/#tchncs:tchncs.de">Tchncs matrix community</a>`

Expected: `https://matrix.to/#/#tchncs:tchncs.de`
Produces: `https://matrix.to/#/%23tchncs:tchncs.de`

Steps to reproduce the behavior:
1. Go to https://write.midov.pl/goy9jy35o7 or write a post with same format
2. S

[2021-01-11 03:50] mathieunicolas commented on #200
Same here, just installed Writefreely on a Yunohost instance and I got the exact same bug as described.
PeerTube had this problem before, which happens when there is a Yunohost session opened in the same browser. I'm not techy enough to understand the why, but I just tested and if the Yunohost session is closed, there is no problem.

[2021-01-15 15:08] notramo opened #427 "Matrix room aliases are not tags"
Matrix room addresses start with a #, like #ipfs:matrix.org
When a Matrix room address is included in the text, its first part (the room name, without the server address) is incorrectly converted to a hashtag.
It should be converted to a https://matrix.to link, so when I write `#ipfs:matrix.org`, it should be converted to `[#ipfs:matrix.org](https://matrix.to/#/#ipfs:matrix.org)`.

[2021-01-15 15:13] notramo opened #428 "RSS feed text doesn't respect newline"
RSS feed text doesn't represent newlines the same way as rendered webpage does.
If I write this text in the editor:
[code]
then it is rendered on the web like this:

This is on the second line.
This is on the third line.

but in RSS, like this:

Instance: wordsmith.social

[2021-01-15 15:47] rkingett commented on #427
Maybe to fix this, we should have an edit box for tags and another edit box for categories beneath the post textarea.

[2021-01-15 16:50] notramo commented on #427
No. If the tag is followed by a `:`, **then** it is a Matrix room alias, otherwise it is a tag.
So, the following text would resolve to a hashtag:

But this would resolve to a Matrix room alias:

[2021-01-16 21:26] gica78r commented on #420
Same problem (same platform and setup). Since there is a problem with MySQL 8.0 and some queries (see https://github.com/writeas/writefreely/issues/335), I think I will try to set up an instance with MySQL 5.6 or MariaDB 10 to see if it is a database related bug.

[2021-01-23 15:41] agyild commented on #280
I have already written in the forum but it's been nearly year since this issue was reported. I think at this point it would be better if one of the active developers implemented this fix if it is so simple instead of waiting for a new contributor.

[2021-01-27 13:29] Dak425 commented on #403
@thebaer I'll throw in the quick fix

[2021-01-27 14:01] xundeenergie opened #430 "Install on Debian with MariaDB 10 failes"
### Describe the bug
On Debian there is only MariaDB and no Mysql (any more). Requirement ist mysql 5.6+
MariaDB is 10.3.27
Installer can not create tables in database

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Install on debian `apt install mariadb`
2. follow the install instructions for writefreely
3. run `writefreely config start`
4. fill out all neccessary infor

[2021-01-27 14:51] thebaer commented on #403
Thanks, @Dak425!

[2021-01-27 17:26] grinapo commented on #216
Dunno if this was supposed to be fixed in v0.12.0 but it's not.
Created a new site, new blog, tried to follow it then sent a direct message to it. :-) Okay, maybe that's over the top, but the error is there anyway.

[2021-01-28 17:09] mrvdb opened #432 "Rendering of menu on 'new post' page incorrect"
One of our users has had this bug for a while but until now I was not able to reproduce it.

On the 'new post' page, the menu is rendered incorrectly, see screenshot below

![20210128_1759](https://user-images.githubusercontent.com/73067/106172119-b84b6380-6192-11eb-88ec-87c780290dce.png)

I suspect a subtle CSS issue as it might be browser dependent. The effect only surfaced for myself after upgr

[2021-01-28 17:38] thebaer commented on #432
Confirmed that this is happening for me in Chromium on your instance, but I can't replicate on other WF instances that are up to date with the `develop` branch. Inspecting the page, it looks like plenty of CSS rules are missing in your stylesheet -- particularly the ones that are set in `less/pad.less`. Did you make any changes to the stylesheet? Are you sure it all compiled correctly when running

[2021-01-28 17:44] mrvdb commented on #432
make ui doesn't spit out errors.

[code]

Perhaps related to #425 ? which are changes at least to sources for the stylesheets.

[2021-01-28 17:46] thebaer commented on #432
Ah yep, that's _very_ possible. In particular, the `.dropdown-nav` rules need to be included here. Maybe they aren't getting applied?

[2021-01-29 05:30] fiammanda commented on #362
Can we have this fixed soon

[2021-01-29 08:58] mrvdb commented on #432
Not sure what is happening, but afaics less produced the proper dropdown-nav related classes from pad.less in write.css, but they are not in the produced html.

Manualy applying this diff fixes it. I'm not familiar enough with the applicable templates to assess if this is a proper fix

[code]

[2021-01-29 20:55] cjeller1592 commented on #430
So I tried to replicate your issue on Debian with Mariadb 10.3 but was able to create all the tables & finish the installation.

It makes me wonder if the issue is with the database setup. Have you tried setting Mariadb up again and trying the install process? I'm curious if this issue occurs again.

[2021-01-30 12:57] mrvdb commented on #432
I traced this back to lessc changes indeed. Upstream changed their minds too (see https://github.com/less/less.js/releases/tag/v4.1.0 )

Using that release makes the problem disappear, so this issue is now irrelevant

lessc 3.x no problem
lessc 4.0 will generate errors on building: resolve by upgrading to 4.1
lessc 4.1 no problem

I'll retract  PR #425 as well

[2021-01-30 12:57] #432 closed

[2021-02-01 16:03] cjeller1592 commented on #416
Thanks for the help @conor-f! I restarted the whole process, paid attention to your above points, and finally got WriteFreely running with instructions you laid out in your PR.

I ran it with the `writeas/writefreely:latest` image in the docker-compose file though. Will make a PR soon about this change — we all can discuss whether that's a good idea or not there.

Many thanks again for your assist

[2021-02-01 16:03] cjeller1592 commented on #416
Thanks for the help @conor-f! I restarted the whole process, paid attention to your above points, and finally got WriteFreely running with instructions you laid out in your PR.

I ran it with the writeas/writefreely:latest image in the docker-compose file though. Will make a PR soon about this change — we all can discuss whether that's a good idea or not there.

Many thanks again for your assistan

[2021-02-01 16:03] #416 closed

[2021-02-01 18:11] cjeller1592 commented on #419
Thanks for starting this discussion, @zem! I went ahead and moved everything over to [this forum thread](https://discuss.write.as/t/design-thoughts-with-the-docker-container-implementation-and-its-deamon-writeable-binaries/2406). I'll close this issue and we can continue the conversation over there. Would love to get your take on implementing these crucial changes for hardening the WriteFreely con

[2021-02-01 18:12] cjeller1592 commented on #419
Thanks for starting this discussion, @zem! I went ahead and moved everything over to [this forum thread](https://discuss.write.as/t/design-thoughts-with-the-docker-container-implementation-and-its-deamon-writeable-binaries/2406). I'll close this issue and we can continue the conversation over there. Would love to get your take on implementing these crucial changes for hardening the WriteFreely con

[2021-02-01 18:12] #419 closed

[2021-02-03 14:14] conor-f commented on #416
No problem CJ! Glad you got it sorted.

[2021-02-09 20:17] cjeller1592 commented on #372
You're right @cblgh, theming is on a blog-per-blog basis!

I am going to close this issue due to inactivity. Please feel free to open a new one if something else doesn't make sense with customization.

[2021-02-09 20:17] cjeller1592 commented on #372
You're right @cblgh, theming is on a blog-per-blog basis!

I am going to close this issue due to inactivity. Please feel free to open a new one if something else doesn't make sense with customization.

[2021-02-09 20:17] #372 closed

[2021-02-27 14:06] rkingett commented on #365
I'd like to suggest we incorporate [this accessibility bot](https://github.com/marketplace/accesslint) but it is not a one stop accessibility tool. Issues would still need to be watched and corrected manually.

If this is being used in educational settings, the menus on the post page, font menu, and otherwise, need to be corrected because this could be a great tool for teachers working with Disabl

[2021-02-28 00:35] leonstafford commented on #365
@rkingett, hmm, don't know enough about AccessLint to recommend or not. Being free for personal GitHub accounts, I should be trying it, now that I've brought all my stuff in from an Org to Personal.

As WriteAs charges for their service, they should be fine to pay for AccessLint if it will catch things like this.

@thebaer - does it look like AccessLint would catch issues like this?

[2021-02-28 00:51] leonstafford commented on #365
@rkingett, worked well in [this simple case](https://github.com/leonstafford/ljsdotdev/pull/2)... not yet sure about in generated HTML code, which would be more useful for all the static site generation tools, like Hugo and I assume WriteAs.

My guess is that using project-specific CLI tools will make more sense, as AccessLint can't be expected to magically understand all project types and their s

[2021-03-09 15:01] thebaer commented on #430
Any update on this, @xundeenergie? Anyone else seeing this issue?

[2021-03-09 15:03] thebaer commented on #410
Closing this since we don't have a clear idea of any particular bug here.

[2021-03-09 15:03] #410 closed

[2021-03-11 21:03] kuba-orlik opened #440 "Impossible to navigate to "/me/c/" via the UI"
### Describe the bug

I'm running a single-user instance and I can't access the `/me/c/` via regular means - only by typing it directly in the address bar. There's no UI link that leads me to seemingly the only place where I can create a new blog on the same instance

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Log in to a single-user instance
2. Try to find a button

[2021-03-11 21:10] thebaer commented on #440
Hey @kuba-orlik! This is indeed by design -- single-user here really means _single blog_ :slightly_smiling_face:

If you'd like to create multiple blogs under your account, you'll want to switch to multi-user mode, disable registration, and increase the number of `max_blogs` in your `config.ini` (or via the admin dashboard on the web). With multi-user mode enabled, you'll be able to access the **B

[2021-03-11 21:10] #440 closed

[2021-03-14 16:15] carbontwelve opened #441 "Upgrade to v0.12.0 caused special characters to turn to garbage"
### Describe the bug
When upgrading to v0.12.0 following the instruction `ALTER DATABASE writefreely CHARACTER SET latin1 COLLATE latin1_swedish_ci;` caused all emoji and special characters to become corrupted.

For example see the below screen shot, there was an emoji at the end of the post and the pull out to the right was bookended by curly quotes:
![image](https://user-images.githubusercontent

[2021-04-06 16:17] #280 closed

[2021-04-07 14:54] #403 closed

[2021-04-07 18:01] #374 closed

[2021-04-07 18:55] thebaer commented on #430
Closing this since we can't determine if this is a bug in WriteFreely or not. Please feel free to reopen if you have any other information to add!

[2021-04-07 18:55] #430 closed

[2021-04-07 19:04] thebaer commented on #441
It looks like columns on your tables might not have been set correctly... I'd need to check which version this was supposed to happen on. But could you run this query and share the output?

[code]

We're looking for the `content` column to have a `collation` of `utf8mb4_bin`.

[2021-04-07 19:31] thebaer commented on #424
Thanks for the report, but does this prevent the link from working correctly? If not, I'd say this behavior is probably correct. Without being able to cite a source, I would assume that it's acceptable to percent-encode characters in the [fragment](https://en.wikipedia.org/wiki/URI_fragment) part of a URL.

[2021-04-07 21:09] thebaer commented on #309
Mistakenly closed this with a different commit. #449 will close this, once merged.

[2021-04-10 05:31] imto1 opened #454 "Markdown"
### Describe the bug
Explain what the bug is, in as much detail as possible...

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. ...

### Expected behavior
What should've happened?

### Application configuration
 - **Single mode or Multi-user mode?**
 - **Database?** [mysql/sqlite]
 - **Open registration?** [yes/no]
 - **Federation enabled

[2021-04-15 09:12] carbontwelve commented on #441
The `content` column is showing as having a `collation` of `utf8mb4_bin`.

I have looked at a backup of the database from before migrating and its showing the same. The only thing that seems to have been changed is that the database as a whole has `latin1_swedish_ci` where as previously it was `utf8mb4_general_ci` like all my other applications databases.

[2021-04-19 20:22] #309 closed

[2021-04-19 20:23] #334 closed

[2021-04-23 14:58] AngeloStavrow opened #455 "RSS feed should not generate titles for untitled posts"
### Describe the bug
In generating the feed for a blog, title-less posts are given a pseudo-title that is generated from the beginning of the post body. This is unexpected; title-less posts should have no entry in the `<title>` property of their feed.

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Create a title-less post in a WriteFreely blog
2. View the feed for this

[2021-04-27 17:06] thebaer commented on #454
Thanks for reporting this, @imto1! This is definitely something we want to fix in mentions and URLs, and will probably involve some work in our Markdown parsing library, https://github.com/writeas/saturday. I'm not sure if it'll make sense to fix it in hashtags as well, since they generally don't render with underscores anyway. But mentions and URLs should definitely be fixed.

[2021-05-03 09:15] xundeenergie opened #459 "Blocking fonts breaks only one menu"
### Describe the bug
I have browser.display.use_document_fonts set to 0 in my firefox as security-feature. This breaks only one menu. All others are working as expected. Look at the screenshot.

![screenshot_writefreely_broken_menu](https://user-images.githubusercontent.com/5894829/116859370-368b2c00-ac00-11eb-8448-33599908b128.png)

Setting this to 1 the menu is correct.

### Steps to reproduce (

[2021-05-12 12:58] imto1 opened #461 "Federation features not working properly"
### Describe the bug
I cannot follow my writefreely blog from mastodon even after update to  **v0.13.0rc1** and also blog posts doesn't show from mastodon. The federation and notes_only options are set to true in config.ini .

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. On mastodon instance search for @svh@behmerd.ir
2. On profile page click follow button.
3. it will

[2021-05-12 13:11] thebaer commented on #461
Thanks for the report, @imto1 -- I was able to replicate this on my Mastodon account. Can you run writefreely with the `--debug` flag, go through this process again, and share the WF server logs? That should help us figure out what's going on.

[2021-05-12 16:48] imto1 commented on #461
I've executed WF with `--debug` flag and here is the application log on stdout. I realized when I make follow request from mastodon nothing printed on stdout but when I do this from pixelfed, I can see the logs.

[code]

[2021-05-12 17:08] thebaer commented on #461
Okay, I would _guess_ that this is a configuration issue, based on this error that keeps popping up: `net/http: TLS handshake timeout` (it even happens when trying to connect to https://version.writefreely.org). Is there a firewall or something else that might be blocking outgoing HTTP/S connections from your server?

[2021-05-12 17:13] imto1 commented on #461
My router firewall is enabled and I forwarded 80 & 443 ports for WF server. But I didn't any firewall config on server itself.
@thebaer

[2021-05-12 17:32] thebaer commented on #461
Are you able to access anything from that server? For example, could you log into it and run: `curl -v https://version.writefreely.org` and share the response?

[2021-05-12 17:35] imto1 commented on #461
This is the response:

[code]

[2021-05-12 21:30] thebaer commented on #461
Okay, so that looks fine. Is WriteFreely running inside any kind of container or something that would be preventing outgoing requests?

The only other thing I could think of is that something with the `arm7` build is causing the issue, but I'm not sure what that'd be.

[2021-05-12 21:40] imto1 commented on #461
No. WF is installed on my server without any kind of container or something...

[2021-05-19 14:11] gordon-shumway-net commented on #332
Hey together,
I agree with Crocmagnon and would like to see improvements in regard to being more CSP friendly.
One way of doing that and keep the inline scripts would be maybe to use "hash-source" and as described on blog.mozilla.org[0]
and document these Hashes somewhere. This might be not the best option as this hashes might change with newer Versions of Writefreely, it's more complicated to con

[2021-05-19 15:20] Crocmagnon commented on #332
Another idea might be for writefreely to serve its own CSP header, so serving hashes could be possible.

[2021-05-21 17:28] gordon-shumway-net commented on #332
And by the way, in regard to the performance problem when extracting the inline Javascript to a separate file it can be maybe also a solution to serve Content via HTTP/2 which is multiplexing multiple HTTP Requests into one TCP Connection.

[2021-05-24 14:17] sssilver opened #462 "Publishing posts via the API publishes them as drafts"
### Describe the bug
When using the post publishing API, the published posts are not really "published", they are posted as drafts. From there, there appears to be no API for publishing a draft post.

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Publish a writefreely post using the API
2. Observe the post is created as a draft and is not visible to the public

### Expe

[2021-05-24 14:30] thebaer commented on #462
Hi @sssilver, thanks for taking an interest in the WriteFreely API! Things are definitely a bit unconventional, but you can absolutely publish a blog post by hitting the [**Publish a Collection Post**](https://developers.write.as/docs/api/#publish-a-collection-post) endpoint (blogs are internally called "collections"), instead of the [**Publish a Post**](https://developers.write.as/docs/api/#publi

[2021-05-24 14:30] #462 closed

[2021-05-24 14:31] sssilver commented on #462
Thanks, this helps tremendously! Are the docs opensource? Should we amend the documentation to clarify this?

[2021-05-24 14:34] thebaer commented on #462
Yes, that'd be great! Please feel free to send a PR here: https://github.com/writeas/api-docs

[2021-05-27 17:15] sssilver commented on #462
I got a PR up at https://github.com/writeas/api-docs/pull/7. What's the process for getting it reviewed and merged?

Thanks!

[2021-05-31 06:41] xundeenergie commented on #459
I found, the broken Menu has this CSS-Styles (from Firefox developer tools)
`header nav#user-nav a {
    font-size: 1.2em;
    font-family: 'Open Sans','Segoe UI',Tahoma,Arial,sans-serif;
}
header nav#user-nav a {
    font-size: 1.2em;
    font-family: 'Open Sans','Segoe UI',Tahoma,Arial,sans-serif;
}
.material-icons {

    font-family: 'Material Icons';
    font-weight: 400;
    font-style: norma

[2021-06-08 14:45] matthiasbeyer opened #465 "Scheduled posts are not published on ActivityPub?"
### Describe the bug

When scheduling a blog post into the future, it does not become available via federation (as soon as the scheduled date is passed), it seems.

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Schedule a post in the future
2. Wait for it being published
3. Check via an activity-pub based service (I tried mastodon), it is not visible

### Expected behav

[2021-06-08 14:49] rkingett commented on #465
I can confirm this is a problem. I can duplicate this.

[2021-06-11 10:24] thebaer commented on #465
Thanks for the report, @matthiasbeyer. It's true that scheduled post functionality doesn't extend to the fediverse at the moment, but we plan to add this functionality in the future: see [T567](https://writefreely.org/tasks/567).

To keep things organized, I'd like to continue tracking this new feature on that Phabricator task, instead of in a bug report here. So I'll close this for now.

[2021-06-11 10:24] #465 closed

[2021-06-12 03:33] stayinside opened #467 "After updating to v0.13.0 /read will not load"
Since updating the reader feed does not load. My reverse proxy sends a 504 and loads just hang on the debug message
```[READ] Updating post cache```

- Multi-user mode
- sqlite
- Open registration? no
- Federation enabled? yes

[2021-06-17 16:29] thebaer commented on #467
Hi @stayinside, can you share some more information about your setup, as prompted in the original [bug report template](https://github.com/writefreely/writefreely/blob/develop/.github/ISSUE_TEMPLATE/bug_report.md)? For example, which database are you using?

And just to be sure, did you run `writefreely db migrate` after updating the binary?

[2021-06-17 17:17] stayinside commented on #467
Oh sorry my mistake!
Updated my post, and yes I definitely that.

[2021-06-17 17:31] DaarkMoon commented on #467
Same issue for me but there is a strange point:
* After a restart if go to  go to my user page (https://writefrely.example.com/user) -> It's OK
* Then I go to the read page (https://writefrely.example.com/read) -> I get an http error (504 Gateway Time-out)
* If try to go back to my user page (https://writefrely.example.com/user) -> Now I have http error (504 Gateway Time-out)

Maybe the read page

[2021-06-17 17:38] thebaer commented on #467
Thanks for the additional information @stayinside and @DaarkMoon -- I agree it sounds like it could be a read lock on the database. I'll try to replicate and debug more when I'm back from vacation this week. (I'm not sure what changes around the Reader query could've caused this -- it _could_ be the additional `GetCollectionAttribute` call on each blog while looping through the overall Reader resu

[2021-06-18 16:37] bandicootdancing commented on #467
### Describe the bug
Writefreely is hanging when clicking on the reader. I'm not sure if crawlers/users are triggering the reader but writefreely is crashing daily since upgrading. I'm not sure if it's related but by the time I get around to restarting writefreely I see "too many open files." I've disabled the reader to see if the instance stays up.

### Steps to reproduce (if necessary)
Steps to

[2021-06-18 16:53] bandicootdancing opened #468 "Viewing blog stats causes error"
### Describe the bug
This error comes up whenever viewing blog stats. The blog itself appears to be functional after this appears but I'm not sure about federation.
[code]

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Go to view blog.
2. Click on 'stats'.

### Expected behavior

### Application configuration
 - **Single mode or Multi-user mode?** Multi
 - **Database?**

[2021-06-21 12:45] PeterCxy opened #469 "[Security] Generic OAuth allows anyone to authenticate as a user if map_user_id is not configured correctly"
### Describe the bug

I was attempting to configure Generic OAuth for my WriteFreely instance with my Mastodon instance. Initially, I followed what's described on https://writefreely.org/docs/latest/admin/config, and everything seemed to be working. I could link my Mastodon account on WriteFreely, and I could log into my WriteFreely account with my Mastodon account just fine... until I noticed tha

[2021-06-21 15:09] thebaer commented on #469
Thanks for the report, @PeterCxy -- this is something we definitely need to fix. To help us replicate and debug this quicker, can you share your generic OAuth config?

[2021-06-21 15:11] thebaer commented on #468
Thanks, @bandicootdancing. This looks like a simple logging issue that shouldn't impact anything functionally. But we'll get it fixed.

[2021-06-21 15:51] thebaer commented on #332
Thanks for starting the discussion on this, @Crocmagnon. I think the "hash-source" method @gordon-shumway-net mentioned could definitely work for us, without involving a ton of extra work. But I think for us to do this well, we'll need to make it configurable, to allow a range of uses from: _doesn't matter_ to _minimally customized_ to _fully customized_. I think there are also two sides to this:

[2021-06-21 15:55] thebaer commented on #332
Actually, GitHub discussions doesn't seem to work the way I'd like, so we'll move this discussion to our forum, like usual: https://discuss.write.as/t/content-security-policy-csp-support/3026

[2021-06-21 15:55] #332 closed

[2021-06-21 16:01] thebaer commented on #424
Closing this since functionality doesn't seem to be affected, and there's been no response.

[2021-06-21 20:01] thebaer commented on #459
Thanks for the report, @xundeenergie. Do you have any resources on what security improvements that browser feature gives you? From my own knowledge, I'm not sure of why someone might be motivated to disable icon fonts, and hence if it's worth supporting that browser feature in the near term.

[2021-06-21 23:02] PeterCxy commented on #469
@thebaer Sure. My config is quite basic

[code]

(sn.angry.im is just a Mastodon instance I run)

This configuration results in said bug because `/api/v1/accounts/verify_credentials` of Mastodon returns user id in the `id` field, not the default `user_id` that WriteFreely expects, resulting in `remote_user_id` being null. Adding `map_user_id = id` fixed it, as mentioned in the original issue.

[2021-06-22 19:14] Tealk opened #470 "Date in Title"
### Describe the bug
If you enter a date in the title `12. april` then it becomes `1. april`
in the database it is correct
but if you write `12.april` it works without problems

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Create a new post
2. enter a date in the title
3. save the post

### Expected behavior
the correct date should be displayed

### Application configu

[2021-06-22 19:27] thebaer commented on #470
Good catch, @Tealk -- thanks for the report! I was able to verify this. I believe it's because we render the title as Markdown (to preserve title links), so we're parsing this as the first item in a list, instead of an arbitrary number followed by a dot. I'm looking into a fix now.

[2021-06-23 01:50] mkyos opened #472 "Federation doesn't seem to work"
Dear developers, hello! My instance's Fediverse doesn't seem to work. Here's what I got when I ran `sudo journalctl -f -u writefreely`:

This report may have occurred when I tried to follow a user in a mastodon. I kept failing. The mastodon gave me an error message:

By the way, I'm running this **single user** instance on an **EC2 of AWS,** is it possible that the security group's port settings a

[2021-06-23 04:49] mkyos opened #473 "multi-user instance not seem to render HTML correctly"
Why does the front page of my multi-user instance not seem to render HTML correctly, as shown in the figure：

<img width="1463" alt="截屏2021-06-23 12 48 00" src="https://user-images.githubusercontent.com/72077265/123037546-6ba64480-d421-11eb-89b7-d826d96aa789.png">

[2021-06-23 11:51] thebaer commented on #473
Hi, are you running the official release or compiling it from source?

If you're compiling it, you probably still need to run: `make ui` to generate the stylesheets. Otherwise, I'd guess that something in your configuration is blocking access to the `css/` directory.

[2021-06-23 11:51] #473 closed

[2021-06-23 11:57] thebaer commented on #472
Hi @mkyos, you'll also need to allow outbound traffic to ensure federation works. Otherwise, do you have `federation = true` in the `[app]` section of your config?

I'm going to close this since I'm assuming it's more of a potential configuration issue than a bug in WriteFreely. But we can reopen if it turns out to be a bug.

Otherwise, please join us on [our forum](https://discuss.write.as/c/writ

[2021-06-23 11:57] #472 closed

[2021-06-23 16:49] thebaer commented on #469
Thanks! I configured one of my instances for Mastodon, tested this all out, and fixed this in #474. Now we'll return an error and a helpful log message when there's no `user_id` at Step 2 of your "steps to reproduce." Would love to have your thoughts / review on that fix, if you don't mind.

[2021-06-23 23:10] PeterCxy commented on #469
@thebaer The fix looks good to me. BTW, maybe the admin documentation on writefreely.org should also be updated with those mapping options?

[2021-06-24 02:03] mkyos commented on #473
Yes, thank you for your reply! I found the reason: the public URL was not set to HTTPS://**** in the config, but my website was set to HTTP redirect to HTTPS.

[2021-06-24 15:06] thebaer commented on #469
@PeterCxy yes, I'll open a PR for that on our [documentation repo](https://github.com/writefreely/documentation) soon.

[2021-06-24 15:36] thebaer commented on #441
Sorry for the slow response here. I'm really not sure what would cause this, unfortunately, especially if the collation on that column hasn't changed. The best thing to do might be to revert to your previous character set and collation.

[2021-06-25 14:14] thebaer commented on #219
Quick update: this issue should be permanently addressed with [T809](https://phabricator.write.as/T809).

[2021-06-25 14:21] thebaer commented on #335
Similar to #219, we'll likely have this permanently fixed with a new upcoming tag storage system: [T809](https://phabricator.write.as/T809).

[2021-06-25 15:19] thebaer commented on #294
Closing this for now, since it's very low-priority and comes with a high amount of potential negative impact from any changes we make.

[2021-06-25 15:19] #294 closed

[2021-06-26 03:35] mkyos opened #480 "Unordered list in a classic editor appears "\" automatically."
### Describe the bug
When editing a post again, the unordered list in the classic editor automatically appears `\`.

https://user-images.githubusercontent.com/72077265/123500624-0bf2a800-d672-11eb-85bc-75363185ece3.mp4

### Application configuration
 - **Single mode**
 - **Database?** [sqlite]
 - **Open registration?** [no]
 - **Federation enabled?** [yes]

**Version or last commit**:0.13.0

[2021-06-26 10:30] poVoq commented on #467
I have a similar issue on a fresh 0.13 install (same setup as OP).

The site runs fine until I make a first post. Upon which it continues to run fine for 5 minutes or so, but the post never shows up in the /read part and soon after the entire site goes in permanent 504 timeout.

[2021-06-26 10:33] poVoq opened #481 "Self signed certificates required even in reverse-proxy mode"
### Describe the bug
Despite what the installation tutorial says, I can not start my 0.13 writefreely instance in reverse-proxy mode without first creating the self-signed certificates.

### Expected behavior
This should either be mentioned in the tutorial, or not be required for reverse-proxy configurations.

[2021-06-26 13:34] thebaer commented on #481
Hi @poVoq, which self-signed certificates are you referring to? I'm not able to find anything about that in the instructions.

I'm going to close this since it's more of a configuration / documentation issue than something that belongs in our bug tracker, but please feel free to continue the discussion about this [on our forum](https://discuss.write.as/c/writefreely/installation/16).

[2021-06-26 13:34] #481 closed

[2021-06-26 13:36] thebaer commented on #467
Thanks @poVoq, this should be fixed in #477. If anyone else can test out that branch and verify the fix, that'd be much appreciated!

[2021-06-26 14:56] poVoq commented on #481
Same issue as here on the forum: https://discuss.write.as/t/service-doesnt-start-keys-email-aes256-missing/2434

Unless I do `writefreely keys generate ` the service doesn't start, which is odd given that all certs are handled by Nginx.

[2021-06-26 16:00] thebaer commented on #481
Ah, that command generates _encryption keys_ for database data, session cookies, etc. -- it doesn't have anything to do with SSL certificates (self-signed or not).

[2021-06-26 16:13] poVoq commented on #481
Ah, my bad then. Might be good to make that more explicit in the installation tutorial though. Thanks!

[2021-06-27 15:02] thebaer commented on #314
Thanks for bringing this up, @Crocmagnon. I just opened #482 to solve this. I think a no-brainer fix includes disabling `rel="nofollow"` for single-user blogs, so that's what I've done so far. But I'd love to know everyone's thoughts on other situations where we might also disable it.

[2021-06-27 22:02] thebaer commented on #480
Thanks for reporting this, @mkyos, I've noticed the same thing. I'll take a look at this and see if I can fix it for the 0.13.1 release.

[2021-06-28 14:40] thebaer commented on #459
I'll close this now, but please feel free to respond whenever you can.

[2021-06-28 14:40] #459 closed

[2021-06-28 17:28] DaarkMoon commented on #467
I have build binary fom branch [fix-sqlite-reader-lock](https://github.com/writefreely/writefreely/tree/fix-sqlite-reader-lock) and now it's work for me.

[2021-06-28 19:47] #306 closed

[2021-06-29 14:52] #470 closed

[2021-06-29 16:46] #468 closed

[2021-06-30 13:56] thebaer commented on #467
Great! Just merged that fix, and we'll release v0.13.1 later today.

[2021-06-30 13:56] #467 closed

[2021-06-30 13:58] #480 closed

[2021-06-30 14:13] #469 closed

[2021-06-30 14:24] thebaer commented on #441
Since we haven't heard about this affecting anyone else, and it should be fixed from the start with our updated installation instructions, I'm not sure there's anything actionable on this issue, so I'll close it.

[2021-06-30 14:24] #441 closed

[2021-06-30 14:28] thebaer commented on #325
Any update on this? Is it something we should address for v1.0?

[2021-07-01 13:37] mkyos opened #489 "A serious bug with Chinese typing"
### Describe the bug
Automatically type the first letter of pinyin. For example, in order to enter the Chinese character "你的", I had to type the pinyin "nide," but the editor always failed to type "你的" by typing the first pinyin letter "n" directly, leaving the "ide".

https://user-images.githubusercontent.com/72077265/124132250-32ba3f80-dab3-11eb-8532-0b42f628803f.mp4

### Steps to reproduce (if

[2021-07-02 20:16] thebaer commented on #366
@rkingett I'm experimenting with a new layout engine that addresses (among other things) the accessibility issues you brought up here.

Here's the post you mentioned earlier, with some new changes applied: https://tiny.write.as/matt/monetizing-writing. Does that post work better?

[2021-07-02 22:04] rkingett commented on #366
The new post is much, much, easier to read, especially on mobile, so yay!

[2021-07-04 17:46] matthiasbeyer opened #490 "If content is too long, it is silently cropped"
### Describe the bug

I just published an (>9500 words) article on my writefreely (0.12) instance and noted that the content is cropped without notice.

The blog post is here: https://beyermatthias.de/butido-a-linux-package-building-tool-in-rust

There are approx. 120 lines dropped from the article.

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. host writefreely 0.12
2.

[2021-07-05 16:19] mkyos opened #491 "Chinese tag is not supported"
### Describe the bug
Chinese tag is not supported

https://user-images.githubusercontent.com/72077265/124498903-b3e53f80-ddef-11eb-8d19-2e76373253cb.mp4

### Application configuration
 - **Single mode**
 - **Database?** [sqlite]
 - **Open registration?** [yes]
 - **Federation enabled?** [yes]

**Version or last commit**:0.13.1

[2021-07-05 16:54] thebaer commented on #491
Thanks for reporting this, @mkyos. It's actually a duplicate of #219, so let's discuss and track any fixes on that issue.

[2021-07-05 16:54] #491 closed

[2021-07-05 16:57] thebaer commented on #489
Thanks, @mkyos. That editor is powered entirely by [ProseMirror](https://prosemirror.net/), so we'll need to look into this issue in [their codebase](https://github.com/ProseMirror/prosemirror). Maybe someone else has also mentioned this to them before?

If anyone wants to help research, that would be much appreciated!

[2021-07-05 17:13] thebaer commented on #490
Thanks for reporting this, @matthiasbeyer. I'm not completely sure what would cause this, as SQLite shouldn't have any character limits on `TEXT` fields. But we can investigate and improve the UX here. There's an old task to track this too: [T408](https://phabricator.write.as/T408).

[2021-07-06 08:38] matthiasbeyer opened #492 "Code blocks are wrapped"
### Describe the bug

Codeblocks introduced with the three backticks are wrapped, causing them to be unusable for ascii-art.
Example: https://beyermatthias.de/butido-a-linux-package-building-tool-in-rust

(make sure to narrow down your browser window)

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Have a ``` codeblock
2. Make the screen small
3. See the wrapped code

##

[2021-07-06 13:29] mkyos commented on #489
Thank you for your reply. I remember Ghost having this problem for a long time, and specifically any **non-ASCII** character, such as Slavic. However, the Ghost is said to have solved this problem, but I'm not sure. Maybe you can communicate with them. 😊

[2021-07-06 13:42] mkyos commented on #489
I tested the demo on ProseMirror's official website and didn't find this problem. At least for Chinese input.

[2021-07-06 15:54] rkingett commented on #366
I checked out your whole blog and, yes. It is far easier to read now. Much easier when doing a say all command, as well. :)

[2021-07-06 15:56] thebaer commented on #366
Thank you for confirming that! We should be able to use that as a starting point for a fix, then.

[2021-07-06 22:24] clausecker opened #493 "Supply pre-built assets for easier packaging"
I would like to make a FreeBSD port (package) of your nice project.  Unfortunately one step in the build process involves using npm to build some assets.  Node.js applications are notoriously hard to package because of the large amount of dependencies (all of which need to be manually kept track of and mirrored for reproducible builds) and that alone already makes it very hard for me to do the por

[2021-07-09 15:08] ownia opened #494 "Development Setup failed during "go get""
### Describe the bug
following the guide to https://writefreely.org/docs/latest/developer/setup step to build from source and failed.

### Steps to reproduce (if necessary)
run "go get -d github.com/writeas/writefreely/cmd/writefreely"
and it occurs:
[code]

### Expected behavior

### Application configuration
I build this on silicon arm64 macos.
go version:
[code]

[2021-07-11 00:41] AverytheFurry opened #495 "Unable to update blog customization settings."
### Describe the bug
I'm unable to update my blog's customization settings.

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Go to example.com/me/c/blognamehere
2. Click on Save changes
3. See error
![image](https://user-images.githubusercontent.com/47131867/125179704-4f0b5a00-e1e0-11eb-8a5e-9f14aa100635.png)

[code]
### Expected behavior
The settings should be updated, b

[2021-07-12 09:06] clausecker opened #496 "Dependency go-gopher moved to a different hoster"
Greetings!

The dependency `github.com/prologic/go-gopher` has moved to a different hosting service.  The new import path seems to be

    git.mills.io/prologic/go-gopher

Please fix the import paths so the project becomes buildable again.

[2021-07-12 15:47] thebaer commented on #493
Thank you for taking an interest in this, @clausecker! We'll be happy to promote this package once it's available.

To your question, would the assets included in our [official releases](https://github.com/writefreely/writefreely/releases) work? Or would you need them to be included in the repo? Ideally, we'd avoid committing them, so we can also avoid issues with things getting out of date.

Othe

[2021-07-12 15:47] #493 closed

[2021-07-12 16:06] clausecker commented on #493
Hi @thebaer,

The assets included in the official releases would indeed work, but it's more hassle and requires a lot more data to be downloaded.  A tarball with just the generated CSS files would be a good solution.

A common strategy is to have a release branch with generated assets checked in that is merged into every release and has release tags.  Thus, the assets only need to be updated on re

[2021-07-13 19:13] thebaer commented on #495
Thanks for reporting this! We probably need to update this query to work with SQLite, in addition to MySQL.

[2021-07-19 07:30] matthiasbeyer commented on #492
Can someone please confirm this bug?

[2021-07-22 19:22] AverytheFurry commented on #495
Don't want to nag or rush but I'm curious when this will be fixed, as it's preventing a lot of functionality. Should I just switch to MySQL? I don't know what the difference is tbh and just did SQLite because it was easier lol.

[2021-07-23 17:30] #496 closed

[2021-07-23 17:33] thebaer commented on #495
Switching to MySQL would fix it in the short term, if that's easy for you to do! SQLite is definitely easier in many ways, since you don't need to set up / configure / maintain a MySQL database. But I plan to have this fixed within the next few weeks, and then we'll put out a bugfix release.

Of course, we'd also welcome pull requests from anyone who wants to fix this!

[2021-08-03 15:26] thebaer commented on #492
Sorry for the delay on this, @matthiasbeyer -- thanks for the report. I confirmed the same thing is happening for me. I think it's just a question of what's the best solution here.

In general, we're very hesitant to change default layout behavior unless there's a clear desire from **most** people to see it changed. So I think we'll need to hear from other users on this. **Should code blocks autom

[2021-08-18 03:54] jiangshanghan opened #504 "here is a guide for Chinese mandarin users 中文用户指南"
this is a simple guide for those Chinese mandarin users who just new here and dont know what to do,how to start.
一个简单的说明书，希望对汉语用户有所帮助。

[5“自由地写”项目.pdf](https://github.com/writefreely/writefreely/files/7004378/5.pdf)
here is the file
这是pdf版的文件。如果需要检察更新，请前往我的博客查看系列博文。

[2021-08-30 06:12] imto1 commented on #461
@thebaer
I had a fresh install of the WriteFreely v0.13.1 and the problem is solved. Consider closing this issue.

[2021-08-31 15:40] thebaer commented on #504
Thanks for sharing! I'll close this issue, but I think many people would appreciate it if you shared this [on our forum](https://discuss.write.as/), too!

[2021-08-31 15:40] #504 closed

[2021-08-31 15:42] thebaer commented on #428
Thanks for this report. I think we'll need to add `<br>`s in the RSS feed content to fix this. (On the web, we use CSS to preserve these line breaks, and that won't work for the RSS feed.)

[2021-09-06 15:22] zleap opened #507 "Server error"
Hi
There seems to be a server error on PersonalJournal.

{"code":500,"error_msg":"This is an unhelpful error message for a miscellaneous internal error."}

Do you have contact details for the admins please.

Thanks
Paul

[2021-09-08 05:37] diamondburned commented on #279
Just a 2021 update: if the code switches to using [`io/fs.WalkDir`][1], then this should work:

[1]: https://pkg.go.dev/io/fs#WalkDir

[2021-09-14 14:55] spiffytech opened #509 "Post metadata editor, 'view drafts' buttons not visible on mobile"
### Describe the bug
At breakpoints [below 650px](https://github.com/writefreely/writefreely/blob/a122e4e98a1f402f1e999ac30665187ce5d8dc89/less/pad.less#L430), when editing a post, the menu options for editing the post metadata or returning to the drafts view are not visible. Inability to edit metadata means posts can't be scheduled from a phone, and without the 'drafts' button, there is no UI to

[2021-09-21 00:26] sobodash opened #510 "Gopher server not accessible when writefreely is launched by systemd"
### Describe the bug
The gopher version of the blog is not accessible when writefreely is loaded from systemd. When ./writefreely is executed directly, the gopher server works fine.

I have already ensured there is not a firewall issue preventing port 70 access, but even working on the same local server the gopher server only appears to start when running the exe instead of running it from the sys

[2021-09-21 13:27] sobodash commented on #510
Further testing shows this problem is caused by the user that launches the writefreely process and not any part of writefreely itself.

Closing this issue since it is not relevant to the project.

[2021-09-21 13:27] #510 closed

[2021-09-21 14:18] thebaer commented on #510
Thanks for reviewing and further testing this!

By "caused by the user", do you mean that the user launching the WriteFreely process needs to be privileged to run the Gopher server on a port lower than 1024? (I'm assuming this was the issue.)

If so, it might be worth keeping this issue open so we can fix the lack of error logging. I don't think we actually check for an error when starting the Gop

[2021-09-21 19:11] sobodash commented on #510
This may be the case. My temporary solution, probably ill-advised, was to just execute writefreely as root.

I used to run gophernicus, my prior gopher server, from a systemd script that executed it as 'nobody'. This worked and allowed port 70 access. I tried running writefreely as nobody but this did not solve the issue.

Yeah. Error logging would help a lot in diagnosing what is going wrong here

[2021-09-22 02:50] sobodash commented on #510
A possible workaround to avoid running writefreely as root is to use CAP_NET_BIND_SERVICE present in Linux kernel 2.6.24+:

`setcap 'cap_net_bind_service=+ep' /opt/writefreely/writefreely`

This will allow a non-elevated user to bind to ports lower than 1024. The only issue is LD_LIBRARY_PATH becomes inaccessible. So far this does not appear to affect writefreely.

[2021-09-29 16:57] thebaer commented on #507
Hi Paul, unfortunately I don't have any contact details for the admins... And it seems like the site is down now :/

[2021-09-29 16:57] #507 closed

[2021-10-03 12:19] AverytheFurry commented on #495
hm seems like I should get to using mysql then x3

[2021-10-10 08:16] sebastiansIT opened #512 "Data URLs are not rendert in images"
### Describe the bug
If I use a data url to insert a image into an article, the image tag is rendert with an empty source. Inside of the editor the image is shown correctly.

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Create a data URL from a picture (i.E. with https://dataurl.app)
2. Open a new Article in writefreely
3. Click on 'Insert' then 'image'
4. Insert this

[2021-11-03 10:43] nileshtrivedi opened #513 "One-click install in CapRover"
[CapRover](https://caprover.com/) is a PaaS for self-hosting. [WIth one yml file](https://caprover.com/docs/one-click-apps.html) that looks a lot like Docker Compose file, many open-source apps can be installed in a very easy way.

It would be great to see WriteFreely available in CapRover's [one-click apps catalog](https://github.com/caprover/one-click-apps).

[2021-11-27 23:38] MarcoZehe commented on #366
What's the status of this issue?

[2021-11-27 23:44] rkingett commented on #366
From what I can gather, [a lab experiment has been created that would make this issue it's own theme.](https://write.as/labs) The original Write.as creator wants the CSS this way, how it currently is now, because people write poetry on the site, but there has to be a way we can compromise on this very important issue.

[2021-11-27 23:48] rkingett commented on #366
@MarcoZehe  [Here is a live preview of the new labs feature.](https://tiny.write.as/) I think it should be an option for all blogs, not just a theme people can use. That link explains, pretty well, where this issue is headed.

[2021-11-28 11:21] gytisrepecka opened #514 "Login with Gitea OAuth problems: external user ID not properly recorded"
### Describe the bug
When Gitea OAuth is used for logging in, external user ID is not properly recorded in `oauth_users.remote_user_id` which causes misbehavior when logging in with different external users from Gitea server.

### Steps to reproduce
Steps to reproduce the behavior:
1. Login to WriteFreely with `user_a`;
2. Associate `user_a` with Gitea user `gitea_user_a`;
3. Login to WriteFreely

[2021-11-28 11:26] gytisrepecka commented on #514
This is very related to #469.

[2021-11-28 11:50] gytisrepecka opened #516 "Error Data too long when authenticating via Gitea OAuth"
### Describe the bug
Following error is returned when loggin in via Gitea:

[code]

### Steps to reproduce
Steps to reproduce the behavior:
1. Attempt to login to WriteFreely via Gitea OAuth;
2. When redirected from Gitea back to WriteFreely above error is displayed.

### Expected behavior
Should successfully login.

### Application configuration
 - **Single mode or Multi-user mode?** Multi-user

[2021-11-28 11:55] gytisrepecka commented on #516
Problem originates from table `oauth_users` structure:

[code]

Notice `access_token` is defined as `varchar(512)`. While testing OAuth with Gitea server v1.15.3 returned token is longer - 858 positions, therefore need to extend target column.

This query fixes the problem:

[code]

What would be the best way to include this statement into [migrations](https://github.com/writefreely/writefreely/bl

[2021-11-30 19:24] SuaYoo opened #517 "Images dropped into rich text editor cause post to be truncated"
### Describe the bug
Images dragged into the rich text editor outside of the "Click or drop photos here to upload" input render correctly when previewing the post, but do not show up when published. Uploading multiple images this way causes the post to be truncated. Looks like there are two issues here:
1. Images are converted to data URIs, which render correctly in the preview but do not render w

[2021-11-30 19:26] SuaYoo commented on #512
FYI this is reproducible at the time of this comment on hosted write.as

[2021-12-02 23:59] thebaer commented on #512
Also see our previous discussion on this: #80

[2021-12-03 00:02] thebaer commented on #516
Thanks for reporting this, @gytisrepecka! To add this migration, you can follow the example of this commit: 5de4d2086bba965333b2a70beeea532e9f2daece

[2021-12-03 00:08] thebaer commented on #517
Thanks for submitting this report, @SuaYoo!

I agree with the proposed solutions, and I think we could probably address each one. First, we can disable dropping an image directly into the ProseMirror editor. That should be a quick way to arrive at a fix for this.

Longer-term, as a separate task, we can notify and prevent publishing when a post is too long. This was previously brought up in #490,

[2021-12-03 08:13] gytisrepecka commented on #516
Thanks, I will create a Pull Request.

[2021-12-05 22:01] LennyPenny opened #518 "docker tags are not up to date"
Hey,
I wanted to run writefreely as a docker container but noticed that there are only the `latest` tags and the `0.12.x` tags.
However the latest writefreely version is `0.13.1`.

Would be nice if you could fix that and add a `0.13.1` tag.
(Note that the `latest` tag does not suffice here, as it may point to `0.14.x` or even `1.x.x` in the future, which might break deployments due to breaking cha

[2021-12-06 15:51] decentral1se commented on #516
Thanks for raising this, ran into it too integrating with Keycloak! Good to see a fix coming down the tubes :heart:

[2021-12-06 16:48] p00rt commented on #516
@gytisrepecka if you're creating a PR, could you make the column 2048 chars long? Keycloak gives very long auth tokens (>1300 bytes). Thanks!

[2021-12-16 23:11] dakloifarwa opened #519 "log4j vulnerability?"
Hi, is writefreely vulnerable to the log4j CVE-2021-44228? Thank you!

[2021-12-17 15:18] gytisrepecka commented on #519
WriteFreely backend is written in Go (not Java), so Log4j does not apply here.

[2021-12-17 15:26] thebaer commented on #519
Thanks, @gytisrepecka. Will close this now.

[2021-12-17 15:26] #519 closed

[2021-12-28 07:25] JamieSlome opened #522 "Responsible disclosure policy"
Hey there!

I belong to an open source security research community, and a member (@dwisiswant0) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best prac

[2021-12-29 15:57] kotnik opened #524 "Docker image for 0.13.1 can't be built"
### Describe the bug

Working from [0.13.1 tag release](https://github.com/writefreely/writefreely/commit/b7f732b) Docker image build fails with:

[code]

I think following needs to be used:

[code]

I'll test it later, and if it works create PR.

[2021-12-29 20:17] kotnik commented on #524
It's [fixed](https://github.com/writefreely/writefreely/commit/a58180543e8616475061e08f0568036cf88418c3) in `develop` branch. I suggest you make `0.13.2` release.

[2021-12-29 20:17] #524 closed

[2021-12-29 23:27] thebaer commented on #495
Sorry I couldn't get to this earlier. There's a fix open for it now!

[2022-01-10 22:22] LennyPenny commented on #522
is this an sql injection? D:

[2022-01-11 00:24] EsmailELBoBDev2 opened #527 "Questions about updating writefreely binary"
Hi,
I wanted to use writefreely docker image but sadly i had problems so now i use the binary (great work btw, thanks <3) and now i have 2 questions:
1. when there is new update do i need to delete all files (including db, static files) or do i just swap the binary with it's new version? (i know it sound dumb i just want to make sure) and if yes, would not my blogs get deleted too?
2. is there an

[2022-01-11 01:21] EsmailELBoBDev2 commented on #527
UPDATE: never mind about question number 2, i (startpaged) more and made a script, here if anyone else want to use it:
[code]

but my num1 question still want to know if i replaced files with new update, my blogs will get deleted or nah

[2022-01-11 11:19] JamieSlome commented on #522
@LennyPenny - we cannot currently openly discuss the issue, but for other maintainers, the report can be viewed directly here:

https://huntr.dev/bounties/6a570cf6-b743-4662-a47f-c75d871bce69/

It is private and only accessible to maintainers with repository write permissions.

[2022-01-11 14:37] thebaer commented on #527
Hey, thanks for taking an interest in the project! As we mention [on our site](https://writefreely.org/support), the issue tracker here is only meant for bug reports -- [our forum](https://discuss.write.as/c/development/7) is the right place to ask questions. If you could create this topic over there, it'd be much appreciated, and I'd be happy to help!

[2022-01-11 14:37] #527 closed

[2022-01-11 14:42] #522 closed

[2022-01-11 16:12] EsmailELBoBDev2 commented on #527
Okay, gotcha!

[2022-01-18 05:16] CloudArtAdmins opened #529 "Podman/Docker Site Resets Connections"
### Issue
I've been making a script to make writefreely servers using podman (similar to docker).

I noticed the branch for docker and used it for the docker files and documentation.
At the bottom I'll attach the script's contents and logs below so you can see what was made and what happened.

Run the script, and go to the device's IP or hostname and port.
Please let me know if you need any more i

[2022-01-18 18:49] sarunaskas opened #530 "Date format does not get reflected when changing the post language"
### Describe the bug
I was looking into options on how to change the date formats that show up on the home page as well as individual post pages.

I was aiming for a more international format e.g. "2022-01-18", so I tried changing the language to Lithuanian ("lietuvių kalba"), however it had no effect on the format.

When testing Portuguese I've noticed that when refreshing the page it changed the

[2022-01-18 21:48] #495 closed

[2022-01-20 14:44] gytisrepecka commented on #516
Since it's `varchar`, I don't see a problem. Will try it out and create a Pull Request 👍

[2022-01-20 14:45] gytisrepecka commented on #514
Pull Request fixes the problem, running for a while now in production. Can it be merged?

[2022-01-21 19:01] sebastiansIT commented on #512
Hi @thebaer,

OK, the general aspects of this are discusses in #80 and the resulting problems for writers are also addressed by #517. So I mark this as a duplicate and close it.

[2022-01-21 19:01] #512 closed

[2022-01-27 13:34] McColdewey opened #532 "ios app unable to retrieve existing posts on server"
### Describe the bug
Self-hosted writefreely, single user instance, installed behind nginx reverse proxy as per instructions. Logging in to the blog via the web user interface works fine, all posts and functions fully accessible. Logging in via the ios app (same user name and password) also works, and I am able to post **new** articles to the write freely instance. However, when I log in via the a

[2022-01-27 15:10] thebaer commented on #532
Thanks for reporting this bug! From the description, it _sounds_ like this is an issue with the iOS app more than the backend server, so I'm going to move the report there.

[2022-01-28 13:59] thebaer commented on #514
Fixed in #515

[2022-01-28 13:59] #514 closed

[2022-01-28 14:04] thebaer commented on #530
While the server will display the post date according to the language, as you point out, ultimately the date is rendered in the reader's local timezone (via [localdate.js](https://github.com/writefreely/writefreely/blob/develop/static/js/localdate.js)) and according to their locale settings.

Maybe this is acceptable, but maybe an improvement would be to pass the post's `language` into that JS fun

[2022-01-28 14:15] sarunaskas commented on #530
Thanks for the reply.

I think passing the post's language would improve the coherence of the whole site.

In my case none of the content is in English, but because my (and probably many of the visitors') browser settings English month names still show up on the site.

[2022-02-11 08:59] kode54 commented on #11
I get something completely different.

[code]

[2022-02-11 22:29] thebaer commented on #529
Sorry for the delay on this! Since this isn't so much an application bug, but related to external services we don't explicitly support, can you post this [on our forum](https://discuss.write.as/c/writefreely/15), so we can discuss it there?

[2022-02-11 22:29] #529 closed

[2022-02-12 07:02] CloudArtAdmins commented on #529
No worries, I ended up figuring out it was my own issue.
I may still use the forum though, so thank you!

[2022-02-17 13:01] Eldarendil commented on #121
I can confirm that writefreely posts correcly appear in Hubzilla timeline.

Thanks for the fix, and I think you can close this issue.

[2022-02-17 14:36] #121 closed

[2022-02-21 09:24] cauerego commented on #229
choose a license is made by github and it offers a terrible summary.

did you ever noticed github never opened its own source?

in fact, i could never find a good comparison or summary...

here's to my ongoing quest that may eventually lead to finding or making one.

my current short version: agpl is the only license banned by google and the only one that promotes complete freedom. the rest are ju

[2022-02-21 09:26] cauerego opened #535 "how to unpin?"
pin a post.

i can't find a way (in the web interface) to unpin.

can you help?

[2022-02-21 09:37] cauerego opened #536 "requesting feature, federated!"
i rather not create a user on your forums to request a feature.

can't you offer a fediverse link instead?

i will try now @write_as@writing.exchange

[2022-02-21 12:57] thebaer commented on #536
Hey, thanks for taking an interest in the project! As we mention, GitHub is only for bugs, and the forum is where we do everything else, so that's the only place to make a feature request if you hope for us to implement it :slightly_smiling_face: You can always log in with your GitHub account, if that helps!

[2022-02-21 12:57] #536 closed

[2022-02-21 12:59] thebaer commented on #535
As we mention at the top of our [contributing guide](https://github.com/writefreely/writefreely/blob/develop/CONTRIBUTING.md#contributing-to-writefreely), the GitHub issue tracker isn't for questions and help with the software. Please feel free to ask [on our forum](https://discuss.write.as)!

[2022-02-21 12:59] #535 closed

[2022-02-21 20:56] cauerego commented on #536
and thanks for the quick reply.

i see you must mean coding bugs only.

to me, this clearly constitutes a technical, ux, and logical bug/issue.

but perhaps i will forever be the only one who sees this. for sure, a better way to communicate will eventually arise, though. i definitely can't rush it. i can only plant small seeds. cheers!

[2022-02-21 20:59] cauerego commented on #535
i have used discussed extensively, and i still have too many accounts spread around. today i can't. it takes too long to load on my slow internet for whatever reason, i couldn't even open it to search through it.

but...

why do you tag this as "not a bug"?

[2022-02-21 21:06] cauerego commented on #535
in fact, i tried it again and found a work-around which just confirms this as a bug:

https://discuss.write.as/t/unpinning-a-post/1773/3

even if it helps in my immediate use case, still clearly a coding bug.

[2022-03-06 11:30] carnager commented on #358
Does anyone have specific CSS rules that can be used to fix this?

[2022-03-24 07:02] JYEN613 opened #539 "BLOG MISSING"
This page is missing....

[2022-03-25 18:29] kadallah commented on #495
Hey @thebaer sorry if this is a silly question, but how would one go about installing the quick fix?

[2022-04-18 06:42] imto1 opened #541 "WF always federates posts as Note"
### Describe the bug
WF always federates posts as Note contrary to the settings set in config.ini. I reviewed config file and notes_only option under [app] section is false.
I've recreated config file and set the right settings several times but nothing changed. I've looked at the documentations and searched but I couldn't find any solution.

### Steps to reproduce (if necessary)
Steps to reproduc

[2022-04-27 12:00] clarfonthey opened #542 "Listening on unix socket"
Essentially, this will make it easier to connect WriteFreely up to reverse proxies like nginx, since the trip through the proxy doesn't have to use TCP.

I'm filing an issue here because I plan to submit a PR for this soon, since I don't think the amount of work required is very big. The main change would be to accept file paths for the listen port parameter, which would listen on that path as a u

[2022-05-05 00:33] DocWho22 opened #544 "systemctl failed start Writefreely Instance (permission denied)"
### Describe the bug
As I ran `systemctl status writefreely`, I got this:
[code]
But when I ran `/var/www/changedtomydomain/writefreely/writefreely`, the website **worked**!

SO in the end I used `tmux` to run writefreely.

### Steps to reproduce (if necessary)
[code]

### Expected behavior
What should've happened?

### Application configuration
 - **Single mode or Multi-user mode?**  Multi-user

[2022-05-15 19:11] davralin opened #547 "Outdated docker-images posted on docker hub"
### Describe the bug
The container-image on docker hub is 10 months old, and is pressumably severely out of date with regards to support libraries and general patch-management for the base-container-image.

Since this is a web-facing application, that should probably be remediated.

I propose a thing where the container-tag `latest` points to the latest development in the `develop`-branch, and rel

[2022-05-19 17:32] dnkrupinski opened #548 "No new instance by WriteFreely.host because of stripe.com error"
If you try to start a new community instance there is only a stripe error:
"Invalid source object: must be a dictionary or a non-empty string. See API docs at https://stripe.com/docs'"

### Steps to reproduce (if necessary)
Start with the URL https://writefreely.host/
Click 'Start a Community'
Fill in the require data (eMail, domain name, creditcard number, CVC, expiration date).
Press button 'Ord

[2022-05-21 16:08] chuanhhoang opened #549 "Is the project still actively maintained?"
Is this project still actively maintained? There aren't any commits for months. Bugs are not fixed ....

[2022-05-23 15:18] carbontwelve commented on #547
I was in the process of documenting how to deploy Writefreely with Dokku but the outdated docker hub images is a big blocker.

[2022-05-23 15:34] carbontwelve commented on #549
I am pretty sure that it is, the commercial side of the project recently had an update https://write.as/updates/

[2022-05-24 14:40] thebaer commented on #547
It's manual, yes. Here's how the Docker image gets built when doing an official release:

https://github.com/writefreely/writefreely/blob/46bb8e65a12cc697de7f9d5881e24146f519fcdd/Makefile#L62-L63

And then how it gets pushed:

https://github.com/writefreely/writefreely/blob/46bb8e65a12cc697de7f9d5881e24146f519fcdd/Makefile#L129-L130

I'm definitely out of my element here, so if there's a better /

[2022-05-24 14:43] thebaer commented on #547
Also note this is related to #518.

[2022-05-24 14:46] #539 closed

[2022-05-24 14:47] thebaer commented on #539
If you need help with Write.as, feel free to [email us](https://write.as/contact) :slightly_smiling_face:

[2022-05-24 15:14] carbontwelve commented on #547
@thebaer GoToSocial have a drone config (https://github.com/superseriousbusiness/gotosocial/blob/main/.drone.yml) for pushing their releases to docker; I haven't used drone myself but it looks to be a self hosted github actions kind of thing.

[2022-05-24 15:22] thebaer commented on #547
@carbontwelve Looks like that could be a good way to go! Happy to give access / make any changes needed on my end to make it possible.

[2022-05-24 17:08] #548 closed

[2022-05-25 13:28] davralin commented on #547
I am more inclined to use GitHub-actions. I can generate a compatible drone-config for build/deploy of container images, if someone provides drone itself.

Thanks for the pointers, I'll see when I can have something ready for this.

[2022-05-25 14:07] carbontwelve commented on #547
@davralin I agree, GitHub actions is available and is able to do the same job.

[2022-05-31 12:39] #547 closed

[2022-06-03 15:24] silverpill opened #564 "Serving ActivityPub objects"
### Describe the bug

According to [ActivityPub specification](https://www.w3.org/TR/activitypub/#retrieving-objects), servers should respond with ActivityStreams object representation to requests having `application/ld+json; profile="https://www.w3.org/ns/activitystreams"` in Accept header, but apparently only `application/activity+json` is supported

https://github.com/writefreely/writefreely/bl

[2022-06-03 18:32] davralin opened #565 "Releasing new versions is blocked due to bug in other project?"
So, I'm completely removing the issue-template here, as this is more of a overlay-bug/placeholder for [this thing](https://writing.exchange/@matt/108296096956116443) - or [this](https://github.com/writefreely/writefreely/discussions/550#discussioncomment-2812338) if you'd like.

As I understand it, there's a bug in [xgo](https://github.com/techknowlogick/xgo/issues/109) - which is blocking a relea

[2022-06-03 18:35] thebaer commented on #565
Yes, I think if we can add that to the container, it should build fine. Also saw that comment, though I'm not sure what to do with it. Any ideas?

[2022-06-08 23:50] DRKSLV opened #566 "HTML Self-closing tags confuse the sanitizer and cause document to break [READ COMMENTS] (Original issue title: Iframe allow tag is removed from article html) )"
### Describe the bug
I made a little [widget](https://lilguy.kartonrad.de/mirror/) specifically for embedding in a blog post.
Unfortunately, it requires camera access in order to be cool.
When i add the allow tag to my iframe as described in
https://writefreely.org/docs/v0.13.1/writer/html#iframe
it is simply stripped from the output

i realize this might be for security reasons, but i feel that t

[2022-06-09 00:03] DRKSLV commented on #566
fun! the pin thing isn't even a reverse proxy issue, even though the request doesn't appear in logs?!
wieeerd and why did this start happening randomly?

[2022-06-09 15:18] DRKSLV commented on #566
Examples::
![Screenshot 2022-06-09 171053](https://user-images.githubusercontent.com/56208328/172881976-0412ebbe-40d5-41b7-873d-a16f3266ede1.jpg)
![Screenshot 2022-06-09 171158](https://user-images.githubusercontent.com/56208328/172881756-98e5df1a-e988-4fcd-8675-9217bf56dcce.jpg)
65.jpg)

Reproduce issue with this piece of text
[code]

The response payload will contain invalid html, the closing ta

[2022-06-10 07:47] hllizi opened #567 "Segementation violation in freshly set up writefreely 0.13.1"
I am trying to set up a fresh instance of writefreely v0.13.1 on NixOS (but I could reproduce the reported error in an alpine container with the standard packages from the alpine repository).

The configuration step (`writefreely config start`) worked as expected, generating the attached config file:

[code]

`writefreely keys generate` also didn't complain.

The templates directory was copied fro

[2022-06-10 12:14] hllizi commented on #567
OK, closing this since the issue was a misunderstanding; the binary was missing its context in the work directory, except for the templates directory. Maybe the reasons for this misunderstanding might be of interest, so, briefly:

 * Running writefreely is advertised as "as easy as running a binary" or something along these lines.
 * At least Nixos and maybe also alpine only package the binary wit

[2022-06-12 18:53] imto1 commented on #541
I've changed config.ini and set **notes_only = true** and leave it for days. Then change it back to **false** and federation misbehavior solved.

[2022-06-12 18:54] #541 closed

[2022-06-24 09:17] jakehamilton opened #568 "Using MySQL driver without a password fails."
### Describe the bug

Attempting to use the MySQL database driver without a password set causes
the program to throw an error and exit, printing the following.

[code]

<details>
  <summary>View <code>config.ini</code> file.</summary>

[code]

</details>

I'm currently trying to wire up a NixOS module for WriteFreely. NixOS's MySQL module
configures database users for auth with either [`unix_socke

[2022-07-21 00:38] steley commented on #363
I got this too

[2022-07-26 09:03] fedeb95 opened #575 "Newline in MathJax"
### Describe the bug
Adding a newline in MathJax with \\ doesn't work

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Create a blog post with MathJax and a newline sequence \\
2. Publish post

### Expected behavior
A newline should have been inserted in correspondence of the \\ sequence

### Application configuration
I don't know, it's noblogo.org

**Version or last comm

[2022-09-25 13:09] aitzol76 opened #581 "Strings localization"
### Describe the bug
The localization function **localStr** in [./templates.go(line 198)](https://github.com/writefreely/writefreely/blob/develop/templates.go) returns the same string for different languages.
For example, the string `Read more...` displayed on the _Reader_ page for each post is not translated into the language that the browser has. Thank you very much.

### Steps to reproduce (if

[2022-09-26 17:51] thebaer commented on #581
Hey thanks for bringing this up, but this isn't how it's designed to work. Strings are localized to the author's language, not the reader's. In other words, if a post is written in Spanish, the text around it also shows up in Spanish.

Otherwise, you can find all the languages WF currently supports here: https://github.com/writeas/web-core/tree/main/l10n

[2022-09-26 19:57] aitzol76 commented on #581
I may not have explained myself well. I understand that by author language you mean the language that is set in the metadata of each post, isn't it? Despite changing the language in the metadata of the displayed post, I can't get the function to return the string "Read more..." corresponding to the language.

As I said before, it doesn't have the same behavior with all languages, for example, it w

[2022-09-29 04:38] Heryshaf opened #582 "Font doesn't update in classic editor"
### Describe the bug
Font doesn't update in classic editor when switching between the 3 fonts from the upper left drop down menu, using latest version, only works on the default markdown editor

[2022-10-30 08:08] baddate opened #590 "Will this project be updated?"
It's been over a year since the last release. Will the development team continue to add new features?

[2022-11-02 17:59] thebaer commented on #575
Hm, I'm not sure I understand what you mean. Can you share the exact text you're using in your post?

[2022-11-07 21:53] fedeb95 commented on #575
I'm not able to replicate this exactly anymore so I think it can be closed. However I remember not being able to find a way to write an equation on multiple lines. I had the same problem in pure MathJax on my website which I solved with:

$$
\begin{align}
... \\
... \\
\end{align}
$$

which doesn't seem to work in writefreely.

[2022-11-12 04:20] realkinetix opened #598 "Developer documentation is off/outdated?"
The developer quick start would be great, but...

`go get -d github.com/writefreely/writefreely/cmd/writefreely
go: go.mod file not found in current directory or any parent directory.
        'go get' is no longer supported outside a module.
        To build and install a command, use 'go install' with a version,
        like 'go install example.com/cmd@latest'
        For more information, see ht

[2022-11-13 21:00] realkinetix opened #599 "Writefreely stock install creates 404'ed Writers Guide link"
On a fresh install, pages have a footer with a Writer's Guide that links to https://writefreely.org/guide/v0.13.2

This, unfortunately, 404's.

Further, when looking to edit the footer includes, it appears in the release tarball someone's temporary edit lockfiles are present?

-rw-r--r-- matt/matt     12288 2022-11-10 23:51 writefreely/templates/include/.footer.tmpl.swp
-rw-r--r-- matt/matt     20

[2022-11-19 21:56] Flameborn opened #600 "http 500 returned if blog description is too long for a mysql database"
### Describe the bug

If MySQL is used as the database engine, the blog description field is limited to 160 characters. When this limit is reached at /me/c/blogname, and the form is submitted via the *Save* button, a HTTP 500 error is returned.

Although I haven't tested it, but this is likely the case for the blog title as well (255 characters).

### Expected behavior

The user should be informed

[2022-11-19 22:20] Flameborn opened #601 "Screen reader improvements for the editors"
Hello,

Currently, the majority of the editor controls on the new post page do not work as expected when using a screen reader.

The actual text areas work great, except for images in some cases (see below).

For the *pad* editor:

As far as I can tell there should be 2 dropdown menus (one for draft/public), and another one for selecting the font. A third one should be present if a user has multip

[2022-11-19 22:23] thebaer commented on #600
Hi, can you please share the server logs from around when you encounter the 500 error, so we can figure out what's going on?

[2022-11-19 22:29] Flameborn commented on #600
Hello,

Sorry, I forgot to include the two received errors. These are after a post request to */api/collections/username*:

[code]

[2022-11-19 22:34] thebaer commented on #600
Thanks. And what version of MySQL are you running?

[2022-11-19 22:41] Flameborn commented on #600
I'm running Percona Server 8.0.29_21, which is a drop-in replacement for MariaDB and MySQL.

[2022-11-21 15:52] Flameborn commented on #366
Are these changes available to add to an instance? I know that this is not officially supported yet, but I am currently hosting an instance of Writefreely which is used mostly by screen reader users where these changes would make a huge difference.

I can also test run features to see how they stack up in a real-life situation as far as accessibility is concerned, if needed.

[2022-11-22 09:00] mrvdb opened #602 "On mastodon follow/unfollow: Unable to make activity POST: failed to decode PEM block containing private key"
When issuing a follow/unfollow action on mastdon for /some/ writefreely blogs on our instance (qua.name) the log shows:

[code]
And the follow will not work for that particular blog. Other blogs *do* work.

Found one thread with the same problem, but no solution here:
  https://mastodon.social/@evonity/108780888262381806

instance config: multiuser/mysql/invite only/federation enabled/v0.13.1

[2022-11-22 09:10] mrvdb commented on #602
Ah: seem this bug https://github.com/writeas/web-core/issues/14

[2022-11-22 11:16] mrvdb commented on #602
Resolved by installing 0.13.2 release.

[2022-11-22 11:16] #602 closed